<app-page-title [heading]="headings" [subheading]="subheadings" [icon]="icons" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'resp_maint' || authority === 'user_alpi'"></app-page-title>

<div class="row" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'resp_maint' || authority === 'user_alpi'">
    <div class="col-md-12">
        <div class="main-card mb-3 card " id="htmlData" #htmlData>
            <div class="card-header">
                Liste des Pannes
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <!--<button routerLink="/new-panne" class="btn btn-primary" [swal]="deleteSwals">Nouvelle Panne</button>-->
                        <form [formGroup]="searchPanForm">
                            <input type="text" placeholder="Rechercher..." class="form-control form-control-sm" [(ngModel)]="term" formControlName="search">
                        </form>
                    </div>
                </div>
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <!--<button routerLink="/new-panne" class="btn btn-primary" [swal]="deleteSwals">Nouvelle Panne</button>-->
                        <form [formGroup]="selectPanForm">
                            <select (change)="findSso($event.target.value)" name="" id="" formControlName="periode" class="form-control form-control-sm">
                                <option value="" selected disabled hidden>Sélectionner une période</option>
                                <option value="ttesp" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'resp_maint'">Toutes les pannes</option>
                                <option value="tp" >Aujourd'hui</option>
                                <option value="hp" >Hier</option>
                                <option value="twp" >Cette Semaine</option>
                                <option value="lwp" >Semaine Dernière</option>
                                <option value="tmp" >Ce mois</option>
                                <option value="lmp" >Mois Dernier</option>
                                <option value="typ" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'resp_maint'">Cette Année</option>
                                <option value="lyp" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'resp_maint'">Année Dernière</option>
                                <option value="pp"  *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'resp_maint'">Personaliser la recherche</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="btn-actions-pane-right">
                    <div *ngIf="ranger == 'true'" role="group" class="btn-group-sm btn-group">
                        <div >
                            <form [formGroup]="rangeForm">
                                <div class="form-row">

                                    <div class="col-md-5">
                                        <input type="date" [ngClass]="{'fred': rangeForm.controls['date1'].invalid && (rangeForm.controls['date1'].touched)}" [(ngModel)]="d" placeholder="BCP002" class="form-control form-control-sm" formControlName="date1">
                                    </div>
                                    <div class="col-md-5">
                                        <input type="date" [ngClass]="{'fred': rangeForm.controls['date2'].invalid && (rangeForm.controls['date2'].touched) || (f < d)}" [(ngModel)]="f" min="{{d}}" placeholder="Electricien" class="form-control form-control-sm" formControlName="date2">
                                    </div>
                                    <div class="col-md-2">
                                        <button [disabled]="(f < d) || rangeForm.pristine && rangeForm.invalid" class="btn-transition btn btn-sm btn-shadow btn-outline-primary form-control-sm form-control" (click)="rangeDate()" type="submit"><i class="fa fa-search"></i></button>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive" >
                <table class="align-middle mb-0 table table-sm table-borderless table-hover" id="element-pannes">
                    <thead>
                    <tr>
                        <th class="text-center">Date</th>
                        <th class="">Machine</th>
                        <th class="">Cause</th>
                        <th class="text-center">Arrêt</th>
                        <th class="text-center">Début Inter</th>
                        <th class="text-center">Fin Inter</th>
                        <th class="text-center">WT (min)</th>
                        <th class="text-center">TTR (min)</th>
                        <th class="text-center">DT (min)</th>
                        <!--<th class="text-center">Actions</th>-->
                    </tr>
                    </thead>
                    <tbody *ngIf="pannes.length && loader == false ">
                    <tr style="cursor: pointer" *ngFor="let pan of pannes | filter: term | paginate:{itemsPerPage: pages, currentPage:p}; " (click)="(pan.cont == false && pan.etat == true) ? modal(extendPanne) : open(mymodal); selectedPanne = pan; loadTechPannes()" [ngClass]="{'bg-w': pan.etat == false }" >
                        <ng-template #mymodal let-modal >
                            <div class="modal-header">
                                <h6 class="modal-title timeline-title" id="modal-basic-title"><b>Panne N°:</b> {{pan.numero}}</h6>
                                <div class="close vertical-timeline-element-content bounce-in" (click)="showMachine(pan); modal.close('save click')" >
                                    <span class="timeline-title"><b>{{pan.machine | uppercase}}</b></span>
                                    <p>{{pan.code | uppercase}}</p>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="tabs-animation">
                                    <div class="row" *ngIf="tail < 2">
                                        <div class="col-md-4 col-xl-4 ">
                                            <span class="timeline-title"><b>Heure Arrêt</b></span>
                                            <p *ngFor="let hp of Hpannes">{{hp.heure_arret | date: 'HH:mm'}}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-4 text-center">
                                            <span class="timeline-title"><b>Début Inter</b></span>
                                            <p *ngFor="let hp of Hpannes;">{{hp.debut_inter | date: 'HH:mm'}}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-4 text-right">
                                            <span class="timeline-title"><b>Fin Inter</b></span>
                                            <p *ngFor="let hp of Hpannes">{{hp.fin_inter | date: 'HH:mm'}}</p>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="tail > 1">
                                        <div class="col-md-4 col-xl-4 ">
                                            <span class="timeline-title"><b>Heure Arrêt</b></span>
                                            <p >{{Hpannes[0].heure_arret | date: 'HH:mm'}}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-4 text-center">
                                            <span class="timeline-title"><b>Début Inter</b></span>
                                            <p >{{Hpannes[0].debut_inter | date: 'HH:mm'}}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-4 text-right">
                                            <span class="timeline-title"><b>Fin Inter</b></span>
                                            <p >{{Hpannes[1].fin_inter | date: 'HH:mm'}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="scroll-area-lg">
                                    <div class="scrollbar-container">
                                        <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-success"></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Description de la panne</h4>
                                                        <p>{{pan.description}}</p></div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-success"></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Cause du problème</h4>
                                                        <p>{{pan.cause}}</p></div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-success"></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Détails de l'intervention</h4>
                                                        <p>{{pan.details}}</p></div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-alternate"></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Opérateur de Production</h4>
                                                        <p><b class="text-alternate">{{pan.matOP}}</b>:&nbsp;
                                                            <span class="text-capitalize">{{pan.prenomOP}}</span> &nbsp;<span class="text-uppercase">{{pan.nomOP}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-primary"></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Equipe de Maintenance</h4>
                                                        <p *ngFor="let pt of Tpannes"><b class="text-primary">{{pt.matricule}}</b>:&nbsp;
                                                            <span class="text-capitalize">{{pt.preTec}}</span> &nbsp;<span class="text-uppercase">{{pt.nomTec}}</span>
                                                        <span class="float-right text-capitalize">
                                                           {{pt.fonction}}
                                                        </span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="pan.outil != ''" class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-warning"><i class="pe-7s-cloud-upload text-white"></i></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in">
                                                        <h4 class="timeline-title">Outils utilisés</h4>
                                                        <p><b>{{pan.qte}}</b> {{pan.outil}}: <b class="text-dark">{{pan.ref}}</b></p>                                                           </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-block clearfix card-footer ">
                                <div class="float-left">
                                    <b class="pull-left">{{ pan.date  | date: 'dd MMM y'}}</b>
                                </div>
                                <div class="float-right" *ngIf="authority === 'super_admin'">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button class=" btn  btn-primary" [routerLink]="['/pannes/panne/edit', pan.numero]" (click)="selectedPanne = pan; modal.close('save click')"><i class="fa fa-pencil"></i></button>
                                        <button class="btn  btn-danger" (click)="selectedPanne = pan ;swl(pan)" ><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #extendPanne let-modal >
                            <div class="modal-header">
                                <h6 class="modal-title timeline-title" id="modal-basic-title"><b>Panne N°:</b> {{pan.numero}}</h6>
                                <div class="close vertical-timeline-element-content bounce-in" (click)="showMachine(pan); modal.close('save click')" >
                                    <span class="timeline-title"><b>{{pan.machine}}</b></span>
                                    <p>{{pan.code}}</p>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-6" style="border-right: groove #0b5885 1px">
                                        <div class="tabs-animation">
                                            <div class="row" >
                                                <div class="col-md-4 col-xl-4 ">
                                                    <span class="timeline-title"><b>Heure Arrêt</b></span>
                                                    <p >{{ha1 | date: 'HH:mm'}}</p>
                                                </div>
                                                <div class="col-md-4 col-xl-4 text-center">
                                                    <span class="timeline-title"><b>Début Inter</b></span>
                                                    <p >{{di1 | date: 'HH:mm'}}</p>
                                                </div>
                                                <div class="col-md-4 col-xl-4 text-right">
                                                    <span class="timeline-title"><b>Fin Inter</b></span>
                                                    <p >{{fi1 | date: 'HH:mm'}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="scroll-area-lg">
                                            <div class="scrollbar-container">
                                                <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                                    <div class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-success"></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Description de la panne</h4>
                                                                <p>{{desc1}}</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-success"></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Cause du problème</h4>
                                                                <p>{{cause1}}</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-success"></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Détails de l'intervention</h4>
                                                                <p>{{details1}}</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-alternate"></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Opérateur de Production</h4>
                                                                <p *ngFor="let op of Opannes">
                                                                    <span *ngIf="op.quart == 1">
                                                                    <b class="text-alternate">{{op.matOP}}</b>:&nbsp;
                                                                    <span class="text-capitalize">{{op.prenomOP}}</span> &nbsp;<span class="text-uppercase">{{op.nomOP}}</span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-primary"></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Equipe de Maintenance</h4>
                                                                <p *ngFor="let pt of Tpannes">
                                                                    <span *ngIf="pt.quart == 1">
                                                                    <b class="text-primary">{{pt.matricule}}</b>:&nbsp;
                                                                    <span class="text-capitalize">{{pt.preTec}}</span> &nbsp;<span
                                                                            class="text-uppercase">{{pt.nomTec}}</span>
                                                                    <span class="float-right text-capitalize">
                                                           {{pt.fonction}}
                                                        </span></span>
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="qte1 != 0" class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-warning"><i class="pe-7s-cloud-upload text-white"></i></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in">
                                                                <h4 class="timeline-title">Outils utilisés</h4>
                                                                <p><b>{{qte1}}</b> {{outil1}}: <b class="text-dark">{{ref1}}</b></p>                                                           </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                        <div class="tabs-animation">
                                            <div class="row" >
                                                <div class="col-md-4 col-xl-4 ">
                                                    <span class="timeline-title"><b>Heure Arrêt</b></span>
                                                    <p >{{ha2 | date: 'HH:mm'}}</p>
                                                </div>
                                                <div class="col-md-4 col-xl-4 text-center">
                                                    <span class="timeline-title"><b>Début Inter</b></span>
                                                    <p >{{di2 | date: 'HH:mm'}}</p>
                                                </div>
                                                <div class="col-md-4 col-xl-4 text-right">
                                                    <span class="timeline-title"><b>Fin Inter</b></span>
                                                    <p >{{fi2 | date: 'HH:mm'}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="scroll-area-lg">
                                            <div class="scrollbar-container">
                                                <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                                    <div class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-success"></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Description de la panne</h4>
                                                                <p>{{desc2}}</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-success"></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Cause du problème</h4>
                                                                <p>{{cause2}}</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-success"></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Détails de l'intervention</h4>
                                                                <p>{{details2}}</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-alternate"></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Opérateur de Production</h4>
                                                                <p *ngFor="let op of Opannes">
                                                                    <span *ngIf="op.quart == 2">
                                                                    <b class="text-alternate">{{op.matOP}}</b>:&nbsp;
                                                                    <span class="text-capitalize">{{op.prenomOP}}</span> &nbsp;<span class="text-uppercase">{{op.nomOP}}</span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-primary"></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Equipe de Maintenance</h4>
                                                                <p *ngFor="let pt of Tpannes" >
                                                                    <span *ngIf="pt.quart == 2">
                                                                    <b class="text-primary">{{pt.matricule}}</b>:&nbsp;
                                                                    <span class="text-capitalize">{{pt.preTec}}</span> &nbsp;<span
                                                                            class="text-uppercase">{{pt.nomTec}}</span>
                                                                    <span class="float-right text-capitalize">
                                                           {{pt.fonction}}
                                                        </span></span>
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="qte2 != 0" class="vertical-timeline-item vertical-timeline-element">
                                                        <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-warning"><i class="pe-7s-cloud-upload text-white"></i></div></span>
                                                            <div class="vertical-timeline-element-content bounce-in">
                                                                <h4 class="timeline-title">Outils utilisés</h4>
                                                                <p>

                                                                    <b>{{qte2}}</b> {{outil2}}:
                                                                    <b class="text-dark float-right">{{ref2}}</b>
                                                                </p>                                                           </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="d-block clearfix card-footer ">
                                <div class="float-left">
                                    <b class="pull-left">{{ pan.date  | date: 'dd MMM y'}}</b>
                                </div>
                                <div class="float-right" *ngIf="authority === 'super_admin'">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button class=" btn  btn-primary" [routerLink]="['/pannes/panne/edit', pan.numero]" (click)="selectedPanne = pan; modal.close('save click')"><i class="fa fa-pencil"></i></button>
                                        <button class="btn  btn-danger" (click)="selectedPanne = pan ;swl(pan)" ><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <td class="text-center text-muted">{{ pan.date  | date: 'dd/MM/y'}}</td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="widget-content-left">
                                            <!--<img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">-->
                                            <button class="btn-icon btn-icon-only btn btn-link btn-sm">
                                                <!--<i class="pe-7s-settings btn-icon-wrapper font-size-xlg"> </i>-->
                                                <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                                <span *ngIf="pan.cont == false && pan.etat == true" class="badge badge-abs badge-danger badge-dot badge-dot-sm"> Not</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="widget-content-left flex2">
                                        <div class="widget-heading">{{pan.machine | uppercase}}</div>
                                        <div class="widget-subheading opacity-7">{{pan.code | uppercase}}</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-left" style="white-space: nowrap;overflow: hidden;
text-overflow: ellipsis;" >{{ pan.cause.length > 20 ? pan.cause.substr(0, 20)+'...' : pan.cause}}</td>



                        <td class="text-center" >
                            <!--<div *ngIf="tails > 1">-->
                                <!--<span>{{times[0].heureArret | date: 'HH:mm'}}</span>-->
                            <!--</div>-->
                            {{ pan.heure_arret | date: 'HH:mm'}}
                        </td>
                        <td class="text-center" >
                            {{pan.debut_inter | date: 'HH:mm'}}

                        </td>
                        <td class="text-center" >
<!--<div *ngIf="tails < 2">-->
                                <!--<span *ngFor="let hp of ko">{{hp.finInter | date: 'HH:mm'}}</span>-->
                            <!--</div>-->

                            {{pan.fin_inter | date: 'HH:mm'}}
                        </td>
                        <td [ngClass]="{'text-center': true, 'wtd': pan.wt >= 20}">{{pan.wt}} </td>
                        <td class="text-center">{{pan.ttr}}</td>
                        <td class="text-center">{{pan.dt}}</td>
                        <!--<td class="text-center">-->
                            <!--<div role="group" class="btn-group-sm btn-group">-->
                                <!--<button class=" btn  btn-primary"><i class="fa fa-pencil"></i></button>-->
                                <!--<button class="btn  btn-danger" (click)="swl()"><i class="fa fa-times"></i></button>-->
                            <!--</div>-->
                        <!--</td>-->
                    </tr>

                    </tbody>
                </table>

                <p *ngIf="!pannes.length && loader == false" style="color: grey; font-size: 1.5rem;" class="text-center" >Aucune Panne trouvée !</p>
                <div *ngIf="!pannes.length && loader == true" class="text-center">
                    <div class="font-icon-wrapper mr-3 mb-3" style="border: none;display: inline-block">
                        <div class="loader-wrapper d-flex justify-content-center align-items-center" style="vertical-align: middle;">
                            <div class="loader">
                                <div class="ball-scale-multiple">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <p style="vertical-align: middle">Chargement...</p>
                    </div>
                </div>

            </div>
            <div class="d-block clearfix card-footer">
                <div class="float-left">
                <!--<button class=" border-0 btn-transition btn btn-sm btn-shadow btn-outline-focus " (click)="onExport()">-->
                    <!--<i class="fa fa-file-pdf-o"></i> Exporter PDF</button> &nbsp;-->
                    <form [formGroup]="pageForm">
                        <span style="display: inline-block">Afficher</span>&nbsp;
                        <span style="display: inline-block"><select (change)="paginate($event.target.value)" name="" id="sort" formControlName="page" class="form-control form-control-sm">

                            <option value="" selected disabled hidden>07</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="1000">1000</option>
                        </select></span>&nbsp;
                        <span style="display: inline-block">données</span>
                    </form>
                </div>
                <div class="float-right">
                    <ul class="pagination pagination-sm mb-0">
                        <li>
                            <pagination-controls (pageChange)="p=$event"
                                                 autoHide = "true"
                                                 responsive = "true"
                                                 previousLabel = "Précédent"
                                                 nextLabel = "Suivant">
                            </pagination-controls>
                        </li>
                    </ul>
                    <!--<button class="btn-wide btn btn-link btn-sm">View All</button>-->
                    <!--<button class="btn-wide btn-shadow btn btn-primary btn-sm">Add New Entry</button>-->
                </div>
            </div>
        </div>
    </div>
</div>




