<app-page-title [heading]="headings" [subheading]="subheadings" [icon]="icons"></app-page-title>



<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card ">
            <div class="card-header">Liste des Pannes
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <button routerLink="new-panne" class="btn btn-primary" [swal]="deleteSwals">Nouvelle Panne</button>
                    </div>
                </div>
            </div>

            <swal #deleteSwals
                  title="Nouvel Utilisateur"
                  text= "soumettre"
                  type="info"
                  [showCancelButton]="true"

                  [swalOptions]="{
                    confirmButtonText: 'Supprimer',
                    cancelButtonText: 'Annuler',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33'
                    }">


            </swal>

            <div class="table-responsive">
                <table class="align-middle mb-0 table table-sm table-borderless table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">Date</th>
                        <th>Machine</th>
                        <th class="">Cause</th>
                        <th class="text-center">Arrêt</th>
                        <th class="text-center">Début Inter</th>
                        <th class="text-center">Fin Inter</th>
                        <th class="text-center">WT (min)</th>
                        <th class="text-center">TTR (min)</th>
                        <th class="text-center">DT (min)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer" (click)="open(mymodal)" *ngFor="let pan of pannes | paginate:{itemsPerPage: 10, currentPage:p}">
                        <ng-template #mymodal let-modal>
                            <div class="modal-header">
                                <h6 class="modal-title timeline-title" id="modal-basic-title"><b>Panne N°:</b> {{pan.numero}}</h6>
                                <div class="close vertical-timeline-element-content bounce-in" >
                                    <span class="timeline-title"><b>{{pan.machine}}</b></span>
                                    <p>{{pan.code}}</p>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="tabs-animation">
                                <div class="row">
                                    <div class="col-md-4 col-xl-4 ">
                                        <span class="timeline-title"><b>Heure Arrêt</b></span>
                                        <p>{{pan.heureArret | date: 'HH:mm'}}</p>
                                    </div>
                                    <div class="col-md-4 col-xl-4 text-center">
                                        <span class="timeline-title"><b>Début Inter</b></span>
                                        <p>{{pan.debutInter | date: 'HH:mm'}}</p>
                                    </div>
                                    <div class="col-md-4 col-xl-4 text-right">
                                        <span class="timeline-title"><b>Fin Inter</b></span>
                                        <p>{{pan.finInter | date: 'HH:mm'}}</p>
                                    </div>
                                </div>
                                </div>

                                <div class="scroll-area-lg">
                                    <div class="scrollbar-container">
                                        <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-light"></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Description de la panne</h4>
                                                        <p>{{pan.description}}</p></div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-light"></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Cause du problème</h4>
                                                        <p>{{pan.cause}}</p></div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-light"></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Détails de l'intervention</h4>
                                                        <p>{{pan.details}}</p></div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-alternate"></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Opérateur de Production</h4>
                                                        <p>{{pan.prenomOP}} {{pan.nomOP}} <b class="text-alternate">{{pan.matOp}}</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-primary"></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Maintenance</h4>
                                                        <p>{{pan.preTec}} {{pan.nomTec}} <b class="text-primary">{{pan.matricule}}</b>
                                                        <span class="float-right">
                                                           {{pan.fonction}}
                                                        </span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="pan.outil" class="vertical-timeline-item vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-secondary"><i class="pe-7s-cloud-upload text-white"></i></div></span>
                                                    <div class="vertical-timeline-element-content bounce-in">
                                                        <h4 class="timeline-title">Outils utilisés</h4>
                                                        <p><b>{{pan.qte}}</b> {{pan.outil}}: <b class="text-dark">{{pan.ref}}</b></p>                                                           </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button" (click)="modal.close('save click')">ok</button>
                            </div>
                        </ng-template>
                        <td class="text-center text-muted">{{ pan.date  | date: 'dd/MM/y'}}</td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="widget-content-left">
                                            <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="widget-content-left flex2">
                                        <div class="widget-heading">{{pan.machine}}</div>
                                        <div class="widget-subheading opacity-7">{{pan.code}}</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-left" >{{pan.cause}}</td>



                        <td class="text-center">{{pan.heureArret | date: 'HH:mm'}}</td>
                        <td class="text-center" >{{pan.debutInter | date: 'HH:mm'}}</td>
                        <td class="text-center" >{{pan.finInter | date: 'HH:mm'}}</td>
                        <td class="text-center" [ngClass]="
            30 < ((pan.debutInter | date: 'mm') - (pan.heureArret | date: 'mm')) > 20  ? 'wtw' :
            ((pan.debutInter | date: 'mm') - (pan.heureArret | date: 'mm')) >= 30  ? 'wtd' :
            ''
            ">
                            {{
                            (
                            ( pan.debutInter | date: 'dd' ) - ( pan.heureArret | date: 'dd' )
                            )*60*24
                            +
                            (
                            ( pan.debutInter | date: 'HH' ) - ( pan.heureArret | date: 'HH' )
                            )*60
                            +
                            (
                            ( pan.debutInter | date: 'mm') - ( pan.heureArret | date: 'mm')
                            )
                            }}
                        </td>
                        <td class="text-center">
                            {{
                            (
                            ( pan.finInter | date: 'dd' ) - ( pan.debutInter | date: 'dd' )
                            )*60*24
                            +
                            (
                            ( pan.finInter | date: 'HH' ) - ( pan.debutInter | date: 'HH' )
                            )*60
                            +
                            (
                            ( pan.finInter | date: 'mm') - ( pan.debutInter | date: 'mm')
                            )
                            }}
                        </td>
                        <td class="text-center">
                            {{
                            (
                            ( pan.finInter | date: 'd' ) - ( pan.heureArret | date: 'd' )
                            )*60*24
                            +
                            (
                            ( pan.finInter | date: 'HH' ) - ( pan.heureArret | date: 'HH' )
                            )*60
                            +
                            (
                            ( pan.finInter | date: 'mm') - ( pan.heureArret | date: 'mm')
                            )
                            }}
                        </td>
                        <!--<td class="text-center">-->
                            <!--<div role="group" class="btn-group-sm btn-group">-->
                                <!--<button class=" btn  btn-primary"><i class="fa fa-pencil"></i></button>-->
                                <!--<button class="btn  btn-danger" (click)="swl()"><i class="fa fa-times"></i></button>-->
                            <!--</div>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-block clearfix card-footer">
                <!--<div class="float-left">-->
                <!--<button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger btn-sm">Delete</button>-->
                <!--</div>-->
                <div class="float-right">
                    <ul class="pagination pagination-sm mb-0">
                        <li>
                            <pagination-controls (pageChange)="p=$event"
                                                 autoHide = "true"
                                                 responsive = "true"
                                                 previousLabel = "Précédent"
                                                 nextLabel = "Suivant">
                            </pagination-controls>
                        </li>
                    </ul>
                    <!--<button class="btn-wide btn btn-link btn-sm">View All</button>-->
                    <!--<button class="btn-wide btn-shadow btn btn-primary btn-sm">Add New Entry</button>-->
                </div>
            </div>
        </div>
    </div>
</div>