.wtd{
    color: #f65656;
}
.wtw{
    color: #ffc107;
}
.wts{
    color: #0ba360;
}

.bg-w{
    background: #f4f0ab;
}

.red{
    color: #f65656;
    font-weight: bold;
}

.fred {
    color: #495057;
    background-color: #fff;
    border-color: #f65656;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(246, 86, 86, 0.25)
}

/*@import "~bootstrap/dist/css/bootstrap.min.css";*/