<app-page-title [heading]="headings" [subheading]="subheadings" [icon]="icons" *ngIf="authority === 'super_admin'"></app-page-title>

<div *ngIf="authority === 'super_admin'" class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                {{operation == 'add' ? 'Nouvel Opérateur' :
                operation == 'edit' ? 'Modifier Opérateur' :
                operation == 'remove' ? 'Supprimer Opérateur' : ''}}</div>
            <div class="card-body">
                <div *ngIf="operation == 'add' || operation == 'edit'">
                    <form id="signupForm" class="col-md-10 mx-auto" [formGroup]="opForm">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-4">
                            <div class="">
                                <div class="position-relative">
                                    <label for="lig" class="">Nom </label>
                                    <input type="text" class="form-control" id="lig" placeholder="Nom" formControlName="nom" [(ngModel)]="selectedOp.nomOP"/>
                                </div>
                            </div>
                            <div style="color: #f65656" *ngIf="opForm.controls['nom'].invalid && (opForm.controls['nom'].touched) ">
                                 <span>*</span> minimum 4 caractères
                             </div>
                                </div>
                                <div class="col-md-4">
                                <div class="">
                                    <div class="position-relative">
                                        <label for="pre" class="">Prénom </label>
                                        <input type="text" class="form-control" id="pre" placeholder="Prénom" formControlName="prenom" [(ngModel)]="selectedOp.prenomOP"/>
                                    </div>
                                    <div style="color: #f65656" *ngIf="opForm.controls['prenom'].invalid && (opForm.controls['prenom'].touched) ">
                                        <span>*</span> minimum 4 caractères
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="">
                                        <div class="position-relative">
                                            <label for="mat" class="">Matricule </label>
                                            <input type="text" class="form-control input-mask-trigger" id="mat" placeholder="Matricule" formControlName="matricule" [(ngModel)]="selectedOp.matOP" />
                                        </div>
                                    </div>
                                    <div style="color: #f65656" *ngIf="opForm.controls['matricule'].invalid && (opForm.controls['matricule'].touched) ">
                                        <span>*</span> minimum 4 caractères
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"
                                    (click)="operation == 'add' ? addOperateur() : updateOperateur() " >
                                {{operation == 'add' ? 'Enregistrer' :
                                operation == 'edit' ? 'Modifier ' : ''}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Liste des Opérateurs
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <!--<button routerLink="/new-panne" class="btn btn-primary" [swal]="deleteSwals">Nouvelle Panne</button>-->
                        <form [formGroup]="searchPanForm">
                            <input type="text" placeholder="Rechercher..." class="form-control form-control-sm" [(ngModel)]="term" formControlName="search">
                        </form>
                    </div>
                </div>
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <!--<button routerLink="/new-panne" class="btn btn-primary" [swal]="deleteSwals">Nouvelle Panne</button>-->
                        <form [formGroup]="selectPanForm">
                            <select (change)="findSso($event.target.value)" name="" id="" formControlName="periode" class="form-control form-control-sm">
                                <option value="" selected disabled hidden>Afficher Tout</option>
                                <option value="tous">Tous les Techniciens</option>
                                <option value="actifs" >Actifs</option>
                                <option value="inactifs" >Inactifs</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <!--<button routerLink="/new-panne" class="btn btn-primary" [swal]="deleteSwals">Nouvelle Panne</button>-->
                        <button class="btn btn-secondary float-right" (click)="operation = 'add'; initOp()">
                            <i class="fa fa-plus-circle"></i>
                            Nouvel Opérateur
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" >
                <table class="align-middle mb-0 table table-sm table-borderless table-hover">
                    <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Activité</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="widget-content" *ngFor="let op of operateurs | filter: term | paginate:{itemsPerPage: pages, currentPage:p}; ">
                        <th scope="row" >{{ op.matOP}}</th>
                        <td>{{op.nomOP | uppercase}}</td>
                        <td class="text-capitalize">{{op.prenomOP}}</td>
                        <td> <div [ngClass]="op.etat == true ? 'badge badge-success' : 'badge badge-focus'">
                            {{op.etat == true ? 'En Service' : 'Hors Service'}}
                        </div>
                        <td class="text-center">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class=" btn  btn-primary" (click)="operation = 'edit'; selectedOp = op;"><i class="fa fa-pencil"></i></button>
                                <button class="btn  btn-danger" (click)="selectedOp = op;swl(op)"><i class="fa fa-times"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="d-block clearfix card-footer">
                <div class="float-left">
                    <form [formGroup]="pageForm">
                        <span style="display: inline-block">Afficher</span>&nbsp;
                        <span style="display: inline-block"><select (change)="paginate($event.target.value)" name="" id="sort" formControlName="page" class="form-control form-control-sm">

                            <option value="" selected disabled hidden>10</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="1000">1000</option>
                        </select></span>&nbsp;
                        <span style="display: inline-block">données</span>
                    </form>
                </div>
                <div class="float-right">
                    <ul class="pagination pagination-sm mb-0">
                        <li>
                            <pagination-controls (pageChange)="p=$event"
                                                 autoHide = "true"
                                                 responsive = "true"
                                                 previousLabel = "Précédent"
                                                 nextLabel = "Suivant">
                            </pagination-controls>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



