<app-title [heading]="headings" [subheading]="subheadings" [icon]="icons"></app-title>

<div class="">

    <div class="app-inner-layout">
        <div class="app-inner-layout__wrapper">
            <div class="app-inner-layout__content card">
                <div class="card-body">
                    <h5 class="card-title">Enregistrer une nouvelle panne</h5>
                    <form [formGroup]="panForm" id="signupForm" class="col-md-10 mx-auto"  >
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="date" class="">Date</label>
                                        <input type="date" id="date" class="form-control form-control-sm" formControlName="dateP"/>

                                        <!--<input  type="text" class="form-control form-control-sm" id="datetimepicker4" formControlName="date">-->
                                    </div>

                                    <!--<script type="text/javascript">-->
                                        <!--$(function() {-->
                                            <!--$('#datetimepicker4').datetimepicker();-->
                                        <!--});-->
                                    <!--</script>-->
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="machine" class="">Machine</label>
                                        <select id="machine" class="multiselect-dropdown form-control form-control-sm" formControlName="idMachine" [(ngModel)]="mach" >
                                            <option *ngFor="let mach of machines"  [ngValue]="mach.idMachine">
                                                {{mach.code}} &nbsp; {{mach.nom}}
                                            </option>
                                        </select>
                                        {{mach}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="ha" class="">Heure d'arrêt</label>
                                        <input type="datetime-local" class="form-control form-control-sm" data-toggle="timePicker" id="ha" formControlName="heureArret" [(ngModel)]="ha"/>
                                    </div>
                                    heure: {{ha}}
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="di" class="">Début d'intervention</label>
                                        <input type="datetime-local" placeholder="Sélectionnez l'heure" id="di" class="form-control form-control-sm" formControlName="debutInter" [(ngModel)]="di">
                                    </div>
                                    <div *ngIf="
                                    (
                                    ((ha | date: 'M') == 1) || ((ha | date: 'M') == 3) ||
                                    ((ha | date: 'M') == 5) || ((ha | date: 'M') == 7) ||
                                    ((ha | date: 'M') == 8) || ((ha | date: 'M') == 10) ||
                                    ((ha | date: 'M') == 12)
                                    ?
                                        (
                                            ( di | date: 'y' ) - ( ha | date: 'y' )
                                        )*60*24*31*12
                                        +
                                        (
                                            ( di | date: 'MM' ) - ( ha | date: 'MM' )
                                        )*60*24*31
                                        +
                                        (
                                            ( di | date: 'dd' ) - ( ha | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                            ( di | date: 'HH' ) - ( ha | date: 'HH' )
                                        )*60
                                        +
                                        (
                                            ( di | date: 'mm') - ( ha | date: 'mm')
                                        )
                                    :
                                    ((ha | date: 'M') == 4) || ((ha | date: 'M') == 6) ||
                                    ((ha | date: 'M') == 9) || ((ha | date: 'M') == 11)
                                    ?
                                        (
                                        ( di | date: 'y' ) - ( ha | date: 'y' )
                                        )*60*24*30*12
                                        +
                                        (
                                        ( di | date: 'MM' ) - ( ha | date: 'MM' )
                                        )*60*24*30
                                        +
                                        (
                                        ( di | date: 'dd' ) - ( ha | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                        ( di | date: 'HH' ) - ( ha | date: 'HH' )
                                        )*60
                                        +
                                        (
                                        ( di | date: 'mm') - ( ha | date: 'mm')
                                        )
                                    :
                                    ((ha | date: 'M') == 2) && ((ha | date: 'y')%4 == 0)
                                    ?
                                    (
                                    ( di | date: 'y' ) - ( ha | date: 'y' )
                                    )*60*24*29*12
                                    +
                                    (
                                    ( di | date: 'MM' ) - ( ha | date: 'MM' )
                                    )*60*24*29
                                    +
                                    (
                                    ( di | date: 'dd' ) - ( ha | date: 'dd' )
                                    )*60*24
                                    +
                                    (
                                    ( di | date: 'HH' ) - ( ha | date: 'HH' )
                                    )*60
                                    +
                                    (
                                    ( di | date: 'mm') - ( ha | date: 'mm')
                                    )
                                    :
                                    (
                                    ( di | date: 'y' ) - ( ha | date: 'y' )
                                    )*60*24*28*12
                                    +
                                    (
                                    ( di | date: 'MM' ) - ( ha | date: 'MM' )
                                    )*60*24*28
                                    +
                                    (
                                    ( di | date: 'dd' ) - ( ha | date: 'dd' )
                                    )*60*24
                                    +
                                    (
                                    ( di | date: 'HH' ) - ( ha | date: 'HH' )
                                    )*60
                                    +
                                    (
                                    ( di | date: 'mm') - ( ha | date: 'mm')
                                    )
                                    ) < 0" class="alert alert-danger fade show
">
                                        l'heure du début de l'intervention ne peut être inférieur à l'heure d'arrêt {{
                                        (
                                        ((ha | date: 'M') == 1) || ((ha | date: 'M') == 3) ||
                                        ((ha | date: 'M') == 5) || ((ha | date: 'M') == 7) ||
                                        ((ha | date: 'M') == 8) || ((ha | date: 'M') == 10) ||
                                        ((ha | date: 'M') == 12)
                                        ?
                                        (
                                        ( di | date: 'y' ) - ( ha | date: 'y' )
                                        )*60*24*31*12
                                        +
                                        (
                                        ( di | date: 'MM' ) - ( ha | date: 'MM' )
                                        )*60*24*31
                                        +
                                        (
                                        ( di | date: 'dd' ) - ( ha | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                        ( di | date: 'HH' ) - ( ha | date: 'HH' )
                                        )*60
                                        +
                                        (
                                        ( di | date: 'mm') - ( ha | date: 'mm')
                                        )
                                        :
                                        ((ha | date: 'M') == 4) || ((ha | date: 'M') == 6) ||
                                        ((ha | date: 'M') == 9) || ((ha | date: 'M') == 11)
                                        ?
                                        (
                                        ( di | date: 'y' ) - ( ha | date: 'y' )
                                        )*60*24*30*12
                                        +
                                        (
                                        ( di | date: 'MM' ) - ( ha | date: 'MM' )
                                        )*60*24*30
                                        +
                                        (
                                        ( di | date: 'dd' ) - ( ha | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                        ( di | date: 'HH' ) - ( ha | date: 'HH' )
                                        )*60
                                        +
                                        (
                                        ( di | date: 'mm') - ( ha | date: 'mm')
                                        )
                                        :
                                        ((ha | date: 'M') == 2) && ((ha | date: 'y')%4 == 0)
                                        ?
                                        (
                                        ( di | date: 'y' ) - ( ha | date: 'y' )
                                        )*60*24*29*12
                                        +
                                        (
                                        ( di | date: 'MM' ) - ( ha | date: 'MM' )
                                        )*60*24*29
                                        +
                                        (
                                        ( di | date: 'dd' ) - ( ha | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                        ( di | date: 'HH' ) - ( ha | date: 'HH' )
                                        )*60
                                        +
                                        (
                                        ( di | date: 'mm') - ( ha | date: 'mm')
                                        )
                                        :
                                        (
                                        ( di | date: 'y' ) - ( ha | date: 'y' )
                                        )*60*24*28*12
                                        +
                                        (
                                        ( di | date: 'MM' ) - ( ha | date: 'MM' )
                                        )*60*24*28
                                        +
                                        (
                                        ( di | date: 'dd' ) - ( ha | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                        ( di | date: 'HH' ) - ( ha | date: 'HH' )
                                        )*60
                                        +
                                        (
                                        ( di | date: 'mm') - ( ha | date: 'mm')
                                        )
                                        )
                                        }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="fi" class="">Fin d'intervention</label>
                                        <input type="datetime-local" placeholder="Sélectionnez l'heure" id="fi" class="form-control form-control-sm" formControlName="finInter" [(ngModel)]="fi">
                                    </div>
                                    <div *ngIf="
                                    (
                                    ((di | date: 'M') == 1) || ((di | date: 'M') == 3) ||
                                    ((di | date: 'M') == 5) || ((di | date: 'M') == 7) ||
                                    ((di | date: 'M') == 8) || ((di | date: 'M') == 10) ||
                                    ((di | date: 'M') == 12)
                                    ?
                                        (
                                            ( fi | date: 'y' ) - ( di | date: 'y' )
                                        )*60*24*31*12
                                        +
                                        (
                                            ( fi | date: 'MM' ) - ( di | date: 'MM' )
                                        )*60*24*31
                                        +
                                        (
                                            ( fi | date: 'dd' ) - ( di | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                            ( fi | date: 'HH' ) - ( di | date: 'HH' )
                                        )*60
                                        +
                                        (
                                            ( fi | date: 'mm') - ( di | date: 'mm')
                                        )
                                    :
                                    ((di | date: 'M') == 4) || ((di | date: 'M') == 6) ||
                                    ((di | date: 'M') == 9) || ((di | date: 'M') == 11)
                                    ?
                                        (
                                        ( fi | date: 'y' ) - ( di | date: 'y' )
                                        )*60*24*30*12
                                        +
                                        (
                                        ( fi | date: 'MM' ) - ( di | date: 'MM' )
                                        )*60*24*30
                                        +
                                        (
                                        ( fi | date: 'dd' ) - ( di | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                        ( fi | date: 'HH' ) - ( di | date: 'HH' )
                                        )*60
                                        +
                                        (
                                        ( fi | date: 'mm') - ( di | date: 'mm')
                                        )
                                    :
                                    ((di | date: 'M') == 2) && ((di | date: 'y')%4 == 0)
                                    ?
                                    (
                                    ( fi | date: 'y' ) - ( di | date: 'y' )
                                    )*60*24*29*12
                                    +
                                    (
                                    ( fi | date: 'MM' ) - ( di | date: 'MM' )
                                    )*60*24*29
                                    +
                                    (
                                    ( fi | date: 'dd' ) - ( di | date: 'dd' )
                                    )*60*24
                                    +
                                    (
                                    ( fi | date: 'HH' ) - ( di | date: 'HH' )
                                    )*60
                                    +
                                    (
                                    ( fi | date: 'mm') - ( di | date: 'mm')
                                    )
                                    :
                                    (
                                    ( fi | date: 'y' ) - ( di | date: 'y' )
                                    )*60*24*28*12
                                    +
                                    (
                                    ( fi | date: 'MM' ) - ( di | date: 'MM' )
                                    )*60*24*28
                                    +
                                    (
                                    ( fi | date: 'dd' ) - ( di | date: 'dd' )
                                    )*60*24
                                    +
                                    (
                                    ( fi | date: 'HH' ) - ( di | date: 'HH' )
                                    )*60
                                    +
                                    (
                                    ( fi | date: 'mm') - ( di | date: 'mm')
                                    )
                                    ) < 0" class="alert alert-danger fade show">
                                        l'heure du début de l'intervention ne peut être inférieur à l'heure d'arrêt {{
                                        (
                                        ((di | date: 'M') == 1) || ((di | date: 'M') == 3) ||
                                        ((di | date: 'M') == 5) || ((di | date: 'M') == 7) ||
                                        ((di | date: 'M') == 8) || ((di | date: 'M') == 10) ||
                                        ((di | date: 'M') == 12)
                                        ?
                                        (
                                        ( fi | date: 'y' ) - ( di | date: 'y' )
                                        )*60*24*31*12
                                        +
                                        (
                                        ( fi | date: 'MM' ) - ( di | date: 'MM' )
                                        )*60*24*31
                                        +
                                        (
                                        ( fi | date: 'dd' ) - ( di | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                        ( fi | date: 'HH' ) - ( di | date: 'HH' )
                                        )*60
                                        +
                                        (
                                        ( fi | date: 'mm') - ( di | date: 'mm')
                                        )
                                        :
                                        ((di | date: 'M') == 4) || ((di | date: 'M') == 6) ||
                                        ((di | date: 'M') == 9) || ((di | date: 'M') == 11)
                                        ?
                                        (
                                        ( fi | date: 'y' ) - ( di | date: 'y' )
                                        )*60*24*30*12
                                        +
                                        (
                                        ( fi | date: 'MM' ) - ( di | date: 'MM' )
                                        )*60*24*30
                                        +
                                        (
                                        ( fi | date: 'dd' ) - ( di | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                        ( fi | date: 'HH' ) - ( di | date: 'HH' )
                                        )*60
                                        +
                                        (
                                        ( fi | date: 'mm') - ( di | date: 'mm')
                                        )
                                        :
                                        ((di | date: 'M') == 2) && ((di | date: 'y')%4 == 0)
                                        ?
                                        (
                                        ( fi | date: 'y' ) - ( di | date: 'y' )
                                        )*60*24*29*12
                                        +
                                        (
                                        ( fi | date: 'MM' ) - ( di | date: 'MM' )
                                        )*60*24*29
                                        +
                                        (
                                        ( fi | date: 'dd' ) - ( di | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                        ( fi | date: 'HH' ) - ( di | date: 'HH' )
                                        )*60
                                        +
                                        (
                                        ( fi | date: 'mm') - ( di | date: 'mm')
                                        )
                                        :
                                        (
                                        ( fi | date: 'y' ) - ( di | date: 'y' )
                                        )*60*24*28*12
                                        +
                                        (
                                        ( fi | date: 'MM' ) - ( di | date: 'MM' )
                                        )*60*24*28
                                        +
                                        (
                                        ( fi | date: 'dd' ) - ( di | date: 'dd' )
                                        )*60*24
                                        +
                                        (
                                        ( fi | date: 'HH' ) - ( di | date: 'HH' )
                                        )*60
                                        +
                                        (
                                        ( fi | date: 'mm') - ( di | date: 'mm')
                                        )
                                        )
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="op" class="">Opérateur de Production</label>

                                        <select id="op" class="multiselect-dropdown form-control"  formControlName="idOperateur" [(ngModel)]="selo">
                                            <option *ngFor="let op of operateurs"  [ngValue]="op.idOperateur" (select)="selop = op">
                                                {{op.nom}} &nbsp; {{op.prenom}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="mat" class="">Matricule</label><input value="{{selop.nom}}"
                                            name="code" id="mat" type="text" placeholder="1446"
                                            class="form-control" disabled></div>
                                </div>
                                {{selop.nom}}
                            </div>
                        </div>

                        <div formArrayName="idTechnicien">
<label>Maintenanciers</label>

                            <div class="form-group" *ngFor="let tc of getTechni().controls; let i = index">

                                <div class="form-row">
                                    <div class="col-md-5 field_wrapper">
                                        <div class="position-relative form-group">
                                            <label for="mnt" class="">Maintenancier N°{{i+1}}</label>
                                            <select id="mnt" class="multiselect-dropdown form-control"  [formControlName]="i">
                                                <option *ngFor="let tec of techniciens" [ngValue]="tec.idTechnicien" >
                                                    {{tec.nom}} &nbsp; {{tec.prenom}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group"><label for="code" class="">Matricule</label><input
                                                name="code" id="code" type="text" placeholder="BCP002"
                                                class="form-control" disabled></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group"><label for="code" class="">Fonction</label><input
                                                name="code" id="code" type="text" placeholder="Electricien" class="form-control" disabled></div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="position-relative form-group">
                                            <label class="" style="color:transparent;">Fonction</label>
                                            <button class="btn btn-danger pull-right form-control add_button" (click)="onMoveTech(i)">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="form-group">
                                    <button class="btn btn-info form-control" (click)="onAddTech()">Ajouter</button>
                                </div>

                        </div>


                        <div class="form-group">
                            <label for="desc">Description du Problème</label>
                            <div>
                                <textarea rows="2" class="form-control autosize-input" style="max-height: 200px; height: 40px;" id="desc" placeholder="Description..."  formControlName="description"></textarea>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="desc">Cause du Problème</label>
                            <div>
                                <textarea rows="1" class="form-control autosize-input" style="max-height: 200px; height: 40px;" id="desc" placeholder="Cause..." formControlName="cause"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="desc">Détails d'intervention</label>
                            <div>
                                <textarea rows="1" class="form-control autosize-input" style="max-height: 200px; height: 40px;" id="desc" placeholder="Détails..." formControlName="details"></textarea>
                            </div>
                        </div>

                        <!--Avez-vous utilisé des pièces de rechange?-->
                        <div class="form-group">
                            <!--<label for="inlineCheckbox1" class="form-check-label">Avez-vous utilisé des pièces de rechange? </label>-->
                            <!--<input type="checkbox" checked data-toggle="toggle" data-on="Oui" data-off="Non" data-onstyle="primary" data-offstyle="secondary">-->

                        </div>

                        <div class="form-group">

                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="code" class="">Nom de la pièce</label>
                                        <input name="code" id="code" type="text" placeholder="Ampoule"
                                            class="form-control form-control-sm" formControlName="outil" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="code" class="">Quantité</label>
                                        <input name="code" id="code" type="number" placeholder="01"
                                            class="form-control form-control-sm" formControlName="qte" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="code" class="">Référence Magasin</label>
                                        <input name="code" id="code" type="text" placeholder="6000157"
                                               class="form-control form-control-sm" formControlName="ref" >
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="position-relative form-group">
                                        <label class="" style="color:transparent;">Plus</label>
                                        <button class="btn btn-info pull-right form-control">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--boutons radio-->
                        <div class="form-group">
                            <label for="machine" class="">La panne a-t-elle été réparée?</label>
                            <div class="form-row">


                                <div class="offset-lg-1">
                                    <div class="custom-radio custom-control position-relative form-group">
                                        <input type="radio" id="exampleCustomRadio1" name="customRadio" class="custom-control-input" value="true" formControlName="etat" >
                                        <label class="custom-control-label" for="exampleCustomRadio1">Oui</label>
                                    </div>
                                </div>
                                <div class="offset-lg-1">
                                    <div class="custom-radio custom-control position-relative form-group">
                                        <input type="radio" id="exampleCustomRadio2" name="customRadio" class="custom-control-input" value="false" formControlName="etat">
                                        <label class="custom-control-label" for="exampleCustomRadio2">Non, à suivre au prochain quart de service</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<ng-select [items]="machines | async"-->
                                   <!--bindLabel="nom"-->
                                   <!--autofocus-->
                                   <!--bindValue="id"-->
                                   <!--&gt;-->
                        <!--</ng-select>-->



                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" (click)="addPanne()">Enregistrer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="app-inner-layout__sidebar card">
                <ul class="nav flex-column">
                    <li class="pt-4 pl-3 pr-3 pb-3 nav-item">
                        <a href="pannes.php">
                            <button class="btn-pill btn-shadow btn btn-primary btn-block">Toutes les Pannes
                            </button>
                        </a>
                    </li>
                    <li class="nav-item-header nav-item">Toutes les Sections</li>
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i
                            class="nav-link-icon pe-7s-chat"> </i><span>BRAZIL</span>
                        <div class="ml-auto badge badge-warning">8</div>
                    </a></li>
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i
                            class="nav-link-icon pe-7s-wallet"> </i><span>CONTREPLAQUET</span>
                        <div class="ml-auto badge" style="background: orange">4</div>
                    </a></li>
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i
                            class="nav-link-icon pe-7s-config"> </i><span>PLACAGE</span>
                        <div class="ml-auto badge badge-success">3</div>
                    </a></li>
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i
                            class="nav-link-icon pe-7s-config"> </i><span>SCIERIE</span>
                        <div class="ml-auto badge badge-danger">3</div>
                    </a></li>
                    <li class="nav-item-divider nav-item"></li>
                    <li class="nav-item-header nav-item"><i
                            class="nav-link-icon fa fa-history"> </i>&nbsp;&nbsp;<span>Panne(s) non achevée(s)</span></li>

                </ul>
                <ul class="todo-list-wrapper list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="todo-indicator bg-warning"></div>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left ml-1">
                                    <div class="widget-heading">Dérouleuse 2
                                    </div>
                                    <div class="widget-subheading"><i>BCP008</i></div>
                                </div>
                                <div class="widget-content-right widget-content-actions">
                                    <button class="border-0 btn-transition btn btn-outline-success">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button class="border-0 btn-transition btn btn-outline-primary">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button class="border-0 btn-transition btn btn-outline-danger">
                                        <i class="fa fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="todo-indicator bg-warning"></div>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left ml-1">
                                    <div class="widget-heading">Pont Roulant D2
                                    </div>
                                    <div class="widget-subheading"><i>BCP008</i></div>
                                </div>
                                <div class="widget-content-right widget-content-actions">
                                    <button class="border-0 btn-transition btn btn-outline-success">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button class="border-0 btn-transition btn btn-outline-primary">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button class="border-0 btn-transition btn btn-outline-danger">
                                        <i class="fa fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="todo-indicator bg-warning"></div>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left ml-1">
                                    <div class="widget-heading">Dérouleuse 2
                                    </div>
                                    <div class="widget-subheading"><i>BCP008</i></div>
                                </div>
                                <div class="widget-content-right widget-content-actions">
                                    <button class="border-0 btn-transition btn btn-outline-success">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button class="border-0 btn-transition btn btn-outline-primary">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button class="border-0 btn-transition btn btn-outline-danger">
                                        <i class="fa fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

