<app-page-title [heading]="headings" [subheading]="subheadings" [icon]="icons"></app-page-title>

<div class="mb-3 card">
    <div class="card-header-tab-animation card-header">
        <ul class="nav nav-justified">

            <li class="nav-item"><a data-toggle="tab" href="#tab-minimal-1" class="nav-link">MDT Alpicam</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#tab-minimal-2" class="active nav-link">MTBF Alpicam</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#tab-minimal-3" class="nav-link">PARETO Alpicam</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="tab-minimal-1">
            <div class="card-body">
                <div style="display: block; height: auto;">
                    <app-chart
                            [type]="'bar'"
                            [data]="mdtByYear.datasets"
                            [lineChartLabels]="mdtByYear.labels"
                            [lineChartColors]="colorsMDT"
                    ></app-chart>
                </div>
            </div>
        </div>
        <div class="tab-pane fade active show" id="tab-minimal-2">
            <div class="card-body">
                <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                    <app-chart
                            [type]="'bar'"
                            [data]="mtbfByYear.datasets"
                            [lineChartLabels]="mtbfByYear.labels"
                            [lineChartColors]="colorsMTBF"
                    ></app-chart>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab-minimal-3">
            <div class="card-body p-2">
                <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">

                            <app-chart #myC
                                    [type]="'bar'"
                                    [data]="datas.datasets"
                                    [lineChartLabels]="datas.labels"
                                    [lineChartColors]="colorsPARETO"
                            ></app-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top bg-light card-header">
        <div class="actions-icon-btn mx-auto">

                <div role="group" class="btn-group-sm btn-group">
                    <!--<button routerLink="/new-panne" class="btn btn-primary" [swal]="deleteSwals">Nouvelle Panne</button>-->
                    <form [formGroup]="dashPanForm">
                        <select (change)="suiviJournalier($event.target.value)" name="" formControlName="dashPeriode" class="form-control form-control-sm">
                            <option value="" selected disabled hidden>Sélectionner une période</option>
                            <option value="tmp" >Ce mois</option>
                            <option value="lmp" >Mois Dernier</option>
                            <option value="pp"  >Personaliser la recherche</option>
                        </select>
                    </form>
                </div>

        </div>

        <div *ngIf="ranges == 'true'" class="btn-actions-pane-right mr-2">
            <div  role="group" class="btn-group-sm btn-group">
                <div >
                    <form [formGroup]="rangeForm">
                        <div class="form-row">

                            <div class="col-md-5">
                                <input type="date" placeholder="BCP002" class="form-control form-control-sm" formControlName="date1">
                            </div>
                            <div class="col-md-5">
                                <input type="date" placeholder="Electricien" class="form-control form-control-sm" formControlName="date2">
                            </div>
                            <div class="col-md-2">
                                <button class="btn-transition btn btn-sm btn-shadow btn-outline-primary form-control-sm form-control" (click)="paretoAlpiRange(); typePanneRange();" type="submit"><i class="fa fa-search"></i></button>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-7">
        <div class="row">
            <div class="col-sm-12 col-md-6" *ngFor="let dep of departements"  >
                <div class="card-shadow-primary mb-3 widget-chart widget-chart2 text-left card" (click)="showDepart(dep)" style="cursor: pointer">
                    <div class="widget-chat-wrapper-outer" >
                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark" style="border: #f8f9fa solid 2px">
                            <i class="lnr-apartment text-dark opacity-7 btn-icon-wrapper mb-2"> </i>
                            {{dep.nom}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="mb-3 card">
            <div class="card-body pb-1">
                <div class="row">
                <div class="col-lg-1 col-md-1">
                    <b class="mx-auto my-auto" style="
writing-mode: vertical-rl;
text-orientation: mixed; float: left; width: auto;">Répartition par Types de Pannes</b>
                </div>
                <div class="col-lg-10 col-md-10 widget-chart widget-chart2 mx-auto my-auto  p-0">
                    <div class="widget-chat-wrapper-outer" >
                        <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0 " style="min-height: 226px;">
                            <app-doughnut-chart *ngIf="dta"
                                    [doughnutChartData] = "dta"
                                    [doughnutChartLabels] = "catP.labels"
                                    [doughnutChartType]="'doughnut'"
                            ></app-doughnut-chart>
                            <p style="font-size: 0.8em" *ngIf="dta.length == 0">Aucune panne!!</p>
                            <!--<app-chart width="auto" height="auto"-->
                                       <!--[type]="'pie'"-->
                                       <!--[data]="catP.datasets"-->
                                       <!--[lineChartLabels]="catP.labels"-->
                                       <!--[lineChartColors]="colors"-->
                                       <!--[ChartTitleOptions]="'1 2 3 4 partez'"-->
                            <!--&gt;</app-chart>-->

                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1">
                    <span class="mx-auto my-auto" style="
writing-mode: vertical-rl;
text-orientation: mixed; width: auto;">Période : <b>{{date_this_months}}</b></span>
                </div></div>
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            Situation des {{pages}} derniers mois
        </div>
        <ul class="nav">
            <li class="nav-item"><a data-toggle="tab" href="#tab-eg5-010" class="active nav-link">Tableau</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#tab-eg5-111" class="nav-link">Mode Graphique</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-eg5-010" role="tabpanel">
            <div class="bod">
                <div class="tbl-header">
                    <table class="tables" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                            <th class="th"><b>Période </b></th>
                            <th class="th"><b>Pannes </b></th>
                            <th class="th"><b>Pannes (%)</b></th>
                            <th class="th"><b>TDT </b></th>
                            <th class="th"><b>TDT (%)</b></th>
                            <th class="th"><b>MWT </b></th>
                            <th class="th"><b>WT (%)</b></th>
                            <th class="th"><b>MTTR </b></th>
                            <th class="th"><b>TTR (%)</b></th>
                            <th class="th"><b>MDT </b></th>
                            <th class="th"><b>MDT (%)</b></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table class="tables" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr *ngFor="let stat of stats">
                            <td class="td">
                        <span class="pr-2 opacity-6">
                            <i class="fa fa-calendar"></i>
                        </span>{{stat.date | date: 'yyyy MMM' }}
                            </td>
                            <td class="td">
                                <div class="" style="font-weight: bold">{{stat.nbre}}</div>
                            </td>
                            <td class="td">
                                <div class="widget-description">
                            <span class="widget-numbers  " [ngClass]="
                stat.taux < 0 ? 'text-success' :
                stat.taux > 0 ? 'text-danger' : 'text-warning'">
                                            <span class="pr-2 ">
                                                <i
                                                        [ngClass]="
                stat.taux < 0 ? 'text-success fa fa-arrow-down' :
                stat.taux > 0 ? 'text-danger fa fa-arrow-up' : 'text-warning fa fa-arrow-right'">
                                        </i>
                                            </span>
                                <span class="" style="font-weight: bold">
                        {{ stat.taux == 0 ? stat.taux+' %':
                        (stat.taux == 100) ? stat.taux+' %':
                        (stat.taux == -100) ? (stat.taux) * (-1)+' %':
                        (stat.taux < 0 ) ? (stat.taux.toFixed(2)) * (-1)+' %':
                        stat.taux.toFixed(2)+' %'}}
                            </span>
                            </span>
                                </div>
                            </td>
                            <td class="td">
                                <div class="" style="font-weight: bold">{{stat.TDT}} <small>min</small></div>
                            </td>
                            <td class="td">
                                <div class="widget-description">
                            <span class="widget-numbers  " [ngClass]="
                stat.taux_TDT < 0 ? 'text-success' :
                stat.taux_TDT > 0 ? 'text-danger' : 'text-warning'">
                                            <span class="pr-2 ">
                                                <i
                                                        [ngClass]="
                stat.taux_TDT < 0 ? 'text-success fa fa-arrow-down' :
                stat.taux_TDT > 0 ? 'text-danger fa fa-arrow-up' : 'text-warning fa fa-arrow-right'">
                                        </i>
                                            </span>
                                <span class="" style="font-weight: bold">
                        {{ stat.taux_TDT == 0 ? stat.taux_TDT+' %':
                        (stat.taux_TDT == 100) ? stat.taux_TDT+' %':
                        (stat.taux_TDT == -100) ? (stat.taux_TDT) * (-1)+' %':
                        (stat.taux_TDT < 0 ) ? (stat.taux_TDT.toFixed(2)) * (-1)+' %':
                        stat.taux_TDT.toFixed(2)+' %'}}
                            </span>
                            </span>
                                </div>
                            </td>
                            <td class="td">
                                <div class="" style="font-weight: bold">{{stat.WT == 0 ? stat.WT : stat.WT.toFixed(2)}} <small>min</small></div>
                            </td>
                            <td class="td">
                                <div class="widget-description">
                            <span class="widget-numbers  " [ngClass]="
                stat.taux_WT < 0 ? 'text-success' :
                stat.taux_WT > 0 ? 'text-danger' : 'text-warning'">
                                            <span class="pr-2 ">
                                                <i
                                                        [ngClass]="
                stat.taux_WT < 0 ? 'text-success fa fa-arrow-down' :
                stat.taux_WT > 0 ? 'text-danger fa fa-arrow-up' : 'text-warning fa fa-arrow-right'">
                                        </i>
                                            </span>
                                <span class="" style="font-weight: bold">
                        {{ stat.taux_WT == 0 ? stat.taux_WT+' %':
                        (stat.taux_WT == 100) ? stat.taux_WT+' %':
                        (stat.taux_WT == -100) ? (stat.taux_WT) * (-1)+' %':
                        (stat.taux_WT < 0 ) ? (stat.taux_WT.toFixed(2)) * (-1)+' %':
                        stat.taux_WT.toFixed(2)+' %'}}
                            </span>
                            </span>
                                </div>
                            </td>
                            <td class="td">
                                <div class="" style="font-weight: bold">{{stat.TTR == 0 ? stat.TTR : stat.TTR.toFixed(2)}} <small>min</small></div>
                            </td>
                            <td class="td">
                                <div class="widget-description">
                            <span class="widget-numbers  " [ngClass]="
                stat.taux_TTR < 0 ? 'text-success' :
                stat.taux_TTR > 0 ? 'text-danger' : 'text-warning'">
                                            <span class="pr-2 ">
                                                <i
                                                        [ngClass]="
                stat.taux_TTR < 0 ? 'text-success fa fa-arrow-down' :
                stat.taux_TTR > 0 ? 'text-danger fa fa-arrow-up' : 'text-warning fa fa-arrow-right'">
                                        </i>
                                            </span>
                                <span class="" style="font-weight: bold">
                        {{ stat.taux_TTR == 0 ? stat.taux_TTR+' %':
                        (stat.taux_TTR == 100) ? stat.taux_TTR+' %':
                        (stat.taux_TTR == -100) ? (stat.taux_TTR) * (-1)+' %':
                        (stat.taux_TTR < 0 ) ? (stat.taux_TTR.toFixed(2)) * (-1)+' %':
                        stat.taux_TTR.toFixed(2)+' %'}}
                            </span>
                            </span>
                                </div>
                            </td>
                            <td class="td">
                                <div class="" style="font-weight: bold">{{stat.MDT == 0 ? stat.MDT : stat.MDT.toFixed(2)}} <small>min</small></div>
                            </td>
                            <td class="td">
                                <div class="widget-description">
                            <span class="widget-numbers  " [ngClass]="
                stat.taux_MDT < 0 ? 'text-success' :
                stat.taux_MDT > 0 ? 'text-danger' : 'text-warning'">
                                            <span class="pr-2 ">
                                                <i
                                                        [ngClass]="
                stat.taux_MDT < 0 ? 'text-success fa fa-arrow-down' :
                stat.taux_MDT > 0 ? 'text-danger fa fa-arrow-up' : 'text-warning fa fa-arrow-right'">
                                        </i>
                                            </span>
                                <span class="" style="font-weight: bold">
                        {{ stat.taux_MDT == 0 ? stat.taux_MDT+' %':
                        (stat.taux_MDT == 100) ? stat.taux_MDT+' %':
                        (stat.taux_MDT == -100) ? (stat.taux_MDT) * (-1)+' %':
                        (stat.taux_MDT < 0 ) ? (stat.taux_MDT.toFixed(2)) * (-1)+' %':
                        stat.taux_MDT.toFixed(2)+' %'}}
                            </span>
                            </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab-eg5-111" role="tabpanel">
            <div class="card-body">
                <div style="display: block; height: auto;">
                    <app-dash-cart
                            [type]="'bar'"
                            [data]="graph.datasets.reverse()"
                            [lineChartLabels]="graph.labels"
                            [lineChartColors]="colorsGraph"
                    ></app-dash-cart>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row justify-content-md-center" *ngIf="rapport == false">
    <div class="col-4 align-self-center">
        <div class="card-shadow-primary mb-3 widget-chart widget-chart2 text-left card" (click)="rapport = true" style="cursor: pointer">
            <div class="widget-chat-wrapper-outer" >
                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-primary" style="border: #f8f9fa solid 2px">
                    <i class="lnr-exit text-primary opacity-7 btn-icon-wrapper mb-2"> </i>
                    <span class="mr-2 opacity-7">
                                    <i class="fa fa-cog fa-spin"></i>
                                </span>
                    Charger Le Rapport
                </button>
            </div>
        </div>
    </div>
</div>


<div class="main-card mb-3 card" *ngIf="rapport == true">
    <div class="card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            Tableau comparatif <span class="font-italic text-primary">{{section}}</span> <small><b> {{datS3 | date: 'dd MMM yy' | uppercase}}</b> - <b>{{datS4 | date: 'dd MMM yy' | uppercase}}</b> VS <b> {{datS1 | date: 'dd MMM yy' | uppercase}}</b> - <b>{{datS2 | date: 'dd MMM yy' | uppercase}}</b></small>
        </div>
        <div class="btn-actions-pane-right">
            <form [formGroup]="pageForm">
                <span style="display: inline-block">
                    <select (change)="paginate($event.target.value)" name="" id="sort" formControlName="page" class="form-control form-control-sm">
                        <option value="" selected disabled hidden>Alpicam Industries</option>
                        <option value="A">Alpicam Industries</option>
                        <option value="B">Brazil</option>
                        <option value="C">Contreplaqué</option>
                        <option value="P">Placage</option>
                        <option value="S">Scierie</option>
                    </select>
                </span>
            </form>
        </div>
    </div>

    <div class="bod">
        <div class="tbl-header">
            <table class="tables" cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th class="th">Section</th>
                    <th class="th">N°1</th>
                    <th class="th">N°2</th>
                    <th class="th">% N°</th>
                    <th class="th">TDT1</th>
                    <th class="th">TDT2</th>
                    <th class="th">% TDT</th>
                    <!--<th class="th">WT1</th>-->
                    <!--<th class="th">WT2</th>-->
                    <!--<th class="th">% WT</th>-->
                    <!--<th class="th">TTR1</th>-->
                    <!--<th class="th">TTR2</th>-->
                    <!--<th class="th">% TTR</th>-->
                    <th class="th">MDT1</th>
                    <th class="th">MDT2</th>
                    <th class="th">% MDT</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table class="tables" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr *ngFor="let stat of ridotto">
                    <td class="td text-capitalize" >{{stat.dep}}
                    </td>
                    <td class="td">
                        <div class="" style="font-weight: bold">{{stat.nbre2}}</div>
                    </td>
                    <td class="td">
                        <div class="" style="font-weight: bold">{{stat.nbre1}}</div>
                    </td>
                    <td class="td">
                        <div class="widget-description">
                        <span class="widget-numbers  " [ngClass]="
            stat.taux < 0 ? 'text-success' :
            stat.taux > 0 ? 'text-danger' : 'text-warning'">
                                        <span class="pr-2 ">
                                            <i
                                                    [ngClass]="
            stat.taux < 0 ? 'text-success fa fa-arrow-down' :
            stat.taux > 0 ? 'text-danger fa fa-arrow-up' : 'text-warning fa fa-arrow-right'">
                                    </i>
                                        </span>
                            <span class="" style="font-weight: bold">
                    {{ stat.taux == 0 ? stat.taux+' %':
                    (stat.taux == 100) ? stat.taux+' %':
                    (stat.taux == -100) ? (stat.taux) * (-1)+' %':
                    (stat.taux < 0 ) ? (stat.taux.toFixed(2)) * (-1)+' %':
                    stat.taux.toFixed(2)+' %'}}
                        </span>
                        </span>
                        </div>
                    </td>
                    <td class="td">
                        <div class="" style="font-weight: bold">{{stat.TDT2}} <small>min</small></div>
                    </td>
                    <td class="td">
                        <div class="" style="font-weight: bold">{{stat.TDT1}} <small>min</small></div>
                    </td>
                    <td class="td">
                        <div class="widget-description">
                        <span class="widget-numbers  " [ngClass]="
            stat.taux_TDT < 0 ? 'text-success' :
            stat.taux_TDT > 0 ? 'text-danger' : 'text-warning'">
                                        <span class="pr-2 ">
                                            <i
                                                    [ngClass]="
            stat.taux_TDT < 0 ? 'text-success fa fa-arrow-down' :
            stat.taux_TDT > 0 ? 'text-danger fa fa-arrow-up' : 'text-warning fa fa-arrow-right'">
                                    </i>
                                        </span>
                            <span class="" style="font-weight: bold">
                    {{ stat.taux_TDT == 0 ? stat.taux_TDT+' %':
                    (stat.taux_TDT == 100) ? stat.taux_TDT+' %':
                    (stat.taux_TDT == -100) ? (stat.taux_TDT) * (-1)+' %':
                    (stat.taux_TDT < 0 ) ? (stat.taux_TDT.toFixed(2)) * (-1)+' %':
                    stat.taux_TDT.toFixed(2)+' %'}}
                        </span>
                        </span>
                        </div>
                    </td>
                    <!--<td class="td">-->
                        <!--<div class="" style="font-weight: bold">{{stat.WT2 == 0 ? stat.WT2 : stat.WT2.toFixed(2)}} <small>min</small></div>-->
                    <!--</td>-->
                    <!--<td class="td">-->
                        <!--<div class="" style="font-weight: bold">{{stat.WT1 == 0 ? stat.WT1 : stat.WT1.toFixed(2)}} <small>min</small></div>-->
                    <!--</td>-->
                    <!--<td class="td">-->
                        <!--<div class="widget-description">-->
                        <!--<span class="widget-numbers  " [ngClass]="-->
            <!--stat.taux_WT < 0 ? 'text-success' :-->
            <!--stat.taux_WT > 0 ? 'text-danger' : 'text-warning'">-->
                                        <!--<span class="pr-2 ">-->
                                            <!--<i-->
                                                    <!--[ngClass]="-->
            <!--stat.taux_WT < 0 ? 'text-success fa fa-arrow-down' :-->
            <!--stat.taux_WT > 0 ? 'text-danger fa fa-arrow-up' : 'text-warning fa fa-arrow-right'">-->
                                    <!--</i>-->
                                        <!--</span>-->
                            <!--<span class="" style="font-weight: bold">-->
                    <!--{{ stat.taux_WT == 0 ? stat.taux_WT+' %':-->
                    <!--(stat.taux_WT == 100) ? stat.taux_WT+' %':-->
                    <!--(stat.taux_WT == -100) ? (stat.taux_WT) * (-1)+' %':-->
                    <!--(stat.taux_WT < 0 ) ? (stat.taux_WT.toFixed(2)) * (-1)+' %':-->
                    <!--stat.taux_WT.toFixed(2)+' %'}}-->
                        <!--</span>-->
                        <!--</span>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td class="td">-->
                        <!--<div class="" style="font-weight: bold">{{stat.TTR2 == 0 ? stat.TTR2 : stat.TTR2.toFixed(2)}} <small>min</small></div>-->
                    <!--</td>-->
                    <!--<td class="td">-->
                        <!--<div class="" style="font-weight: bold">{{stat.TTR1 == 0 ? stat.TTR1 : stat.TTR1.toFixed(2)}} <small>min</small></div>-->
                    <!--</td>-->
                    <!--<td class="td">-->
                        <!--<div class="widget-description">-->
                        <!--<span class="widget-numbers  " [ngClass]="-->
            <!--stat.taux_TTR < 0 ? 'text-success' :-->
            <!--stat.taux_TTR > 0 ? 'text-danger' : 'text-warning'">-->
                                        <!--<span class="pr-2 ">-->
                                            <!--<i-->
                                                    <!--[ngClass]="-->
            <!--stat.taux_TTR < 0 ? 'text-success fa fa-arrow-down' :-->
            <!--stat.taux_TTR > 0 ? 'text-danger fa fa-arrow-up' : 'text-warning fa fa-arrow-right'">-->
                                    <!--</i>-->
                                        <!--</span>-->
                            <!--<span class="" style="font-weight: bold">-->
                    <!--{{ stat.taux_TTR == 0 ? stat.taux_TTR+' %':-->
                    <!--(stat.taux_TTR == 100) ? stat.taux_TTR+' %':-->
                    <!--(stat.taux_TTR == -100) ? (stat.taux_TTR) * (-1)+' %':-->
                    <!--(stat.taux_TTR < 0 ) ? (stat.taux_TTR.toFixed(2)) * (-1)+' %':-->
                    <!--stat.taux_TTR.toFixed(2)+' %'}}-->
                        <!--</span>-->
                        <!--</span>-->
                        <!--</div>-->
                    <!--</td>-->
                    <td class="td">
                        <div class="" style="font-weight: bold">{{stat.MDT2 == 0 ? stat.MDT2 : stat.MDT2.toFixed(2)}} <small>min</small></div>
                    </td>
                    <td class="td">
                        <div class="" style="font-weight: bold">{{stat.MDT1 == 0 ? stat.MDT1 : stat.MDT1.toFixed(2)}} <small>min</small></div>
                    </td>
                    <td class="td">
                        <div class="widget-description">
                        <span class="widget-numbers  " [ngClass]="
            stat.taux_MDT < 0 ? 'text-success' :
            stat.taux_MDT > 0 ? 'text-danger' : 'text-warning'">
                                        <span class="pr-2 ">
                                            <i
                                                    [ngClass]="
            stat.taux_MDT < 0 ? 'text-success fa fa-arrow-down' :
            stat.taux_MDT > 0 ? 'text-danger fa fa-arrow-up' : 'text-warning fa fa-arrow-right'">
                                    </i>
                                        </span>
                            <span class="" style="font-weight: bold">
                    {{ stat.taux_MDT == 0 ? stat.taux_MDT+' %':
                    (stat.taux_MDT == 100) ? stat.taux_MDT+' %':
                    (stat.taux_MDT == -100) ? (stat.taux_MDT) * (-1)+' %':
                    (stat.taux_MDT < 0 ) ? (stat.taux_MDT.toFixed(2)) * (-1)+' %':
                    stat.taux_MDT.toFixed(2)+' %'}}
                        </span>
                        </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="border-top bg-light card-header">
                    <div class="btn-actions-pane-left">
                        <small><span class="text-primary">N°1 :</span> Nombre de pannes période 1</small>
                    </div>
                    <div class="btn-actions-pane-left">
                        <small><span class="text-primary">N°2 :</span> Nombre de pannes période 2</small>
                    </div>
                    <div class="btn-actions-pane-left">
                        <small><span class="text-primary">% N°:</span> Taux de pannes</small>
                    </div>
                    <div class="btn-actions-pane-right" *ngIf="filtrer == false"><button class="btn btn-sm btn-outline-alternate" (click)="filtrer = true"><i class="pe-7s-filter"></i> Filtrer</button></div>
                    <div class="btn-actions-pane-right" *ngIf="filtrer == true"><button class="btn btn-sm btn-outline-danger"
                            (click)="filtrer = false; filt = false;
                                     section == 'Alpicam' ? alpicam() :
                                     section == 'Placage' ? placage() :
                                     section == 'Brazil'  ? brazil() :
                                     section == 'Scierie' ? scierie() : contreplaque()"><i class="pe-7s-close-circle"></i> Annuler</button>
                    </div>
        </div>
        <div class="border-top  card-header" *ngIf="filtrer == true">
            <div class="col-md-12 mx-auto">

                <div role="group" class="">
                    <form [formGroup]="rapportRangeForm">
                        <div class="form-row">
                            <div class="col-md-2">
                                <!--<label for="p1">Du</label>-->
                                <input type="date" id="p1" class="form-control form-control-sm" formControlName="date1">
                            </div>
                            <div class="col-md-2">
                                <!--<label for="p2">Au</label>-->
                                <input type="date" id="p2" class="form-control form-control-sm" formControlName="date2">
                            </div>
                            <div class="col-md-2 text-center">
                                <span class="my-auto"><small><b><i class="fa fa-arrow-circle-left"></i> période 1 | période 2 <i class="fa fa-arrow-circle-right"></i></b></small></span>
                            </div>
                            <div class="col-md-2">
                                <!--<label for="p3">Du</label>-->
                                <input type="date" id="p3" class="form-control form-control-sm" formControlName="date3">
                            </div>
                            <div class="col-md-2">
                                <!--<label for="p4">Au</label>-->
                                <input type="date" id="p4" class="form-control form-control-sm" formControlName="date4">
                            </div>

                            <div class="col-md-1">
                            </div>

                            <div class="col-md-1">
                                <button class="btn-transition btn btn-sm btn-shadow btn-outline-primary form-control-sm form-control"
                                        (click)=" filt = true; section == 'Alpicam' ? alpicamRange() :
                                             section == 'Placage' ? placageRange() :
                                             section == 'Brazil' ? brazilRange() :
                                             section == 'Scierie' ? scierieRange() : contreplaqueRange()" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>