<!--<nav class="navbar navbar-dark bg-dark text-white">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">grokonez</a>-->
        <!--</div>-->
        <!--<ul class="nav navbar-nav" routerLinkActive="active" style="display: inline-block">-->
            <!--<li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>-->
            <!--<li  class="nav-item">-->
                <!--<a class="nav-link" routerLink="user">User Board</a>-->
            <!--</li>-->
            <!--<li *ngIf="authority === 'admin'" class="nav-item">-->
                <!--<a class="nav-link" routerLink="admin">Admin Board</a>-->
            <!--</li>-->
            <!--<li *ngIf="authority === 'pm'" class="nav-item">-->
                <!--<a class="nav-link" routerLink="pm">PM Board</a>-->
            <!--</li>-->
            <!--<li *ngIf="!authority" class="nav-item">-->
                <!--<a class="nav-link" routerLink="auth/login">Login</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->
<router-outlet></router-outlet>
