<app-title [heading]="headings" [subheading]="subheadings" [icon]="icons" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'user_alpi'"></app-title>

<div class="">

    <div class="app-inner-layout">
        <div class="app-inner-layout__wrapper">
            <div class="app-inner-layout__content card" style="background: transparent">
                <div >
                    <div class="col-lg-12 col-md-12 col-xl-12 ml-1 mt-1" *ngIf="authority === 'resp_cp' || authority === 'super_admin' || authority === 'user_alpi'"  >
                        <div class="main-card mb-3 card">
                            <div class="card-header">
                                Enregistrer les heures de Travail Programmées des machines
                            </div>
                            <div class="card-body">
                                <form [formGroup]="heurForm" id="signupForm" class="col-md-10 mx-auto"  >
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="date" [ngClass]="{'red': heurForm.controls['date'].invalid && (heurForm.controls['date'].touched)}">Date</label>
                                                    <input type="date" id="date" class="form-control form-control-sm" formControlName="date" [ngClass]="{'fred': heurForm.controls['date'].invalid && (heurForm.controls['date'].touched)}" />
                                                </div>
                                                <div style="color: #f65656; font-style: italic;" *ngIf="heurForm.controls['date'].invalid && (heurForm.controls['date'].touched) ">
                                                    <span>*</span> Date invalide
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="heure" [ngClass]="{'red': heurForm.controls['heure'].invalid && (heurForm.controls['heure'].touched)}">Heure de Travail</label>
                                                    <input type="text" id="heure" class="form-control form-control-sm" formControlName="heure" [ngClass]="{'fred': heurForm.controls['heure'].invalid && (heurForm.controls['heure'].touched)}" />
                                                </div>
                                                <div style="color: #f65656; font-style: italic;" *ngIf="heurForm.controls['heure'].invalid && (heurForm.controls['heure'].touched) ">
                                                    <span>*</span> Heure invalide
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div formArrayName="idMachine">
                                        <div class="form-group" *ngFor="let tc of getMachine().controls; let i = index">

                                            <div class="form-row">
                                                <div class="col-md-5 field_wrapper">
                                                    <div class="position-relative form-group">
                                                        <label for="mnt{{i+1}}" [ngClass]="{'red': heurForm.controls['idMachine'].invalid && (heurForm.controls['idMachine'].touched)}">Machine N°{{i+1}}</label>
                                                        <select id="mnt{{i+1}}" class="multiselect-dropdown form-control form-control-sm"  [formControlName]="i" [ngClass]="{'fred': heurForm.controls['idMachine'].invalid && (heurForm.controls['idMachine'].touched)}">
                                                            <option *ngFor="let tec of machines" [ngValue]="tec.idMachine" >
                                                                {{tec.code | uppercase}}&nbsp;{{tec.nom | uppercase}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div style="color: #f65656; font-style: italic;" *ngIf="heurForm.controls['idMachine'].invalid && (heurForm.controls['idMachine'].touched) ">
                                                        <span>*</span> Veuillez sélectionner une machine
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="position-relative form-group">
                                                        <label class="" style="color:transparent;">Fonction</label>
                                                        <button class="btn-transition btn btn-sm btn-shadow btn-outline-danger form-control-sm form-control" (click)="onMoveMachine(i)">-</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group ">
                                            <label>Machines</label> &nbsp;
                                            <span>
                                    <button class="border-0 btn-transition btn btn-sm btn-shadow btn-outline-primary " (click)="onAddMachine()"><i class="fa fa-plus-circle"></i> Ajouter</button>
                                </span> &nbsp;
                                            <span>
                                    <button class="border-0 btn-transition btn btn-sm btn-shadow btn-outline-secondary " (click)="onResetMachine()"><i class="fa fa-times-circle"></i> Reset</button>
                                </span>
                                        </div>
                                    </div>
                                    <div class="divider"></div>

                                    <div class="form-group">
                                        <button type="submit" class="btn-pill btn-shadow btn btn-primary" (click)="addHeure()" [disabled]="heurForm.invalid || heurForm.pristine ">
                                            <i class="fa fa-save"></i> Enregistrer
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-xl-12 ml-1" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'user_alpi'">
                        <div class="main-card mb-3 card">
                            <div class="card-header">
                                <div *ngIf="ranger == 'false'">Récapitulatif des Heures par machine</div>
                                <div class="btn-actions-pane-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <!--<button routerLink="/new-panne" class="btn btn-primary" [swal]="deleteSwals">Nouvelle Panne</button>-->
                                        <form [formGroup]="searchPanForm">
                                            <input type="text" placeholder="Rechercher..." class="form-control form-control-sm" [(ngModel)]="term" formControlName="search">
                                        </form>
                                    </div>
                                </div>
                                <div class="btn-actions-pane-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <!--<button routerLink="/new-panne" class="btn btn-primary" [swal]="deleteSwals">Nouvelle Panne</button>-->
                                        <form [formGroup]="selectPanForm">
                                            <select (change)="findSso($event.target.value)" name="" id="" formControlName="periode" class="form-control form-control-sm">

                                                <option value="" selected disabled hidden>Sélectionner la période</option>
                                                <option value="tmp" >Ce mois</option>
                                                <option value="lmp" >Mois Dernier</option>
                                                <option value="pp"  >Personaliser la recherche</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="btn-actions-pane-right">
                                    <div *ngIf="ranger == 'true'" role="group" class="btn-group-sm btn-group">
                                        <div >
                                            <form [formGroup]="rangeForm">
                                                <div class="form-row">

                                                    <div class="col-md-5">
                                                        <input type="date" [ngClass]="{'fred': rangeForm.controls['date1'].invalid && (rangeForm.controls['date1'].touched)}" [(ngModel)]="d" placeholder="BCP002" class="form-control form-control-sm" formControlName="date1">
                                                    </div>
                                                    <div class="col-md-5">
                                                        <input type="date" [ngClass]="{'fred': rangeForm.controls['date2'].invalid && (rangeForm.controls['date2'].touched) || (f < d)}" [(ngModel)]="f" min="{{d}}" placeholder="Electricien" class="form-control form-control-sm" formControlName="date2">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button [disabled]="(f < d) || rangeForm.pristine && rangeForm.invalid" class="btn-transition btn btn-sm btn-shadow btn-outline-primary form-control-sm form-control" (click)="RangeHeures()" type="submit"><i class="fa fa-search"></i></button>

                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="table-responsive" >
                                <table class="align-middle mb-0 table table-sm table-bordered">
                                    <thead class="table-dark">
                                    <tr>
                                        <th  class="" rowspan="2" style="vertical-align: middle;">Date</th>
                                        <th  class="text-center" rowspan="2" style="vertical-align: middle;">Machine</th>
                                        <th  class="text-center" rowspan="2" style="vertical-align: middle;">H. Prog [h]</th>
                                        <th  class="text-center" colspan="2">Arrêts</th>
                                        <th  class="text-center" rowspan="2"  style="vertical-align: middle;">H. Fonct [h]</th>
                                        <th  class="text-center" rowspan="2" style="vertical-align: middle;"  *ngIf="authority === 'super_admin'">Actions</th>
                                    </tr>
                                    <tr>
                                        <th  class="text-center" >Nombre</th>
                                        <th  class="text-center" >DT [min]</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr style="cursor: pointer" *ngFor="let heure of heures | filter: term | paginate:{itemsPerPage: pages, currentPage:p}; " (click)="selectedHeure = heure;" >

                                        <td class=" text-muted">  <span><i class="fa fa-calendar"></i></span>&nbsp;{{ heure.date  | date: 'dd/MM/y'}}</td>
                                        <td>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-3">
                                                        <div class="widget-content-left">
                                                            <!--<img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">-->
                                                            <button class="btn-icon btn-icon-only btn btn-link btn-sm">
                                                                <!--<i class="pe-7s-settings btn-icon-wrapper font-size-xlg"> </i>-->
                                                                <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-left flex2">
                                                        <div class="widget-heading">{{heure.machine | uppercase}}</div>
                                                        <div class="widget-subheading opacity-7">{{heure.code | uppercase}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{heure.heure}} h</td>
                                        <td class="text-center" [ngClass]="{'bg-danger text-white font-weight-bold': heure.nbre > 0 }">{{heure.nbre}}</td>
                                        <td class="text-center" [ngClass]="{'bg-danger text-white font-weight-bold': heure.nbre > 0 }">{{heure.AT}} min</td>
                                        <td class="text-left" >
                                            {{heure.nbre == 0 ? heure.heure :
                                            decimal((heure.heure - (heure.AT/60))) == false ? (heure.heure - (heure.AT/60)).toFixed(2) : (heure.heure - (heure.AT/60))
                                            }} h
                                        </td>
                                        <td class="text-center" *ngIf="authority === 'super_admin'">
                                            <div role="group" class="btn-group-sm btn-group">
                                                <button class=" btn  btn-primary"><i class="fa fa-pencil"></i></button>
                                                <button class="btn  btn-danger" (click)="swal(heure)" ><i class="fa fa-times"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>

                                </table>
                                <p style="color: grey; font-size: 1.8rem;" class="text-center" *ngIf="heures == []">Aucune Heure trouvée !</p>
                        </div>

                            <div class="d-block clearfix card-footer">
                                <div class="float-left">
                                    <!--<button class=" border-0 btn-transition btn btn-sm btn-shadow btn-outline-focus " (click)="onExport()">-->
                                    <!--<i class="fa fa-file-pdf-o"></i> Exporter PDF</button> &nbsp;-->
                                    <form [formGroup]="pageForm">
                                        <span style="display: inline-block">Afficher</span>&nbsp;
                                        <span style="display: inline-block"><select (change)="paginate($event.target.value)" name="" id="sort" formControlName="page" class="form-control form-control-sm">

                            <option value="" selected disabled hidden>10</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="1000">1000</option>
                        </select></span>&nbsp;
                                        <span style="display: inline-block">données</span>
                                    </form>
                                </div>
                                <div class="float-right">
                                    <ul class="pagination pagination-sm mb-0">
                                        <li>
                                            <pagination-controls (pageChange)="p=$event"
                                                                 autoHide = "true"
                                                                 responsive = "true"
                                                                 previousLabel = "Précédent"
                                                                 nextLabel = "Suivant">
                                            </pagination-controls>
                                        </li>
                                    </ul>
                                    <!--<button class="btn-wide btn btn-link btn-sm">View All</button>-->
                                    <!--<button class="btn-wide btn-shadow btn btn-primary btn-sm">Add New Entry</button>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="app-inner-layout__sidebar card" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'user_alpi'">
                <ul class="nav flex-column">
                    <li class="pt-4 pl-3 pr-3 pb-1 nav-item">
                        <form [formGroup]="choiceForm">
                            <div class="">
                                <div class="form-group">
                                    <label class="form-check-label">Recherche par:</label>
                                    <div class="">

                                        <div class="position-relative form-check-inline">
                                            <div class="custom-radio custom-control position-relative form-group">
                                                <input type="radio" id="exampleCustomRadio4" name="pic" class="custom-control-input" formControlName="pic" value="jour" [(ngModel)]="piece" checked >
                                                <label class="custom-control-label" for="exampleCustomRadio4">Jour</label>
                                            </div>
                                        </div>
                                        <div class="position-relative form-check-inline">
                                            <div class="custom-radio custom-control position-relative form-group">
                                                <input type="radio" id="exampleCustomRadio5" name="pic" class="custom-control-input" formControlName="pic" value="mois" [(ngModel)]="piece">
                                                <label class="custom-control-label" for="exampleCustomRadio5">Mois</label>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </li>
                    <li class="pl-3 pr-3 pb-1 nav-item" *ngIf="piece == 'jour'">
                        <form [formGroup]="newDateForm">
                            <div class="form-row">
                                <div class="col-md-10">
                                    <input type="date" placeholder="BCP002" class="form-control form-control-sm" formControlName="date1">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn-transition btn btn-sm btn-shadow btn-outline-primary form-control-sm form-control" (click)="loadHeuresByDepRange(); period = 'day'" type="submit"><i class="fa fa-search"></i></button>

                                </div>

                            </div>
                        </form>
                    </li>
                    <li class="pl-3 pr-3 pb-1 nav-item" *ngIf="piece == 'mois'">
                        <form [formGroup]="monthForm">
                            <div class="form-row">
                                <div class="col-md-10">
                                    <input type="month" placeholder="BCP002" class="form-control form-control-sm" formControlName="date1">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn-transition btn btn-sm btn-shadow btn-outline-primary form-control-sm form-control" (click)="loadHeuresByDepRangeMonth(); period = 'month'" type="submit"><i class="fa fa-search"></i></button>

                                </div>

                            </div>
                        </form>
                    </li>
                    <li class="pl-3 pr-3 pb-1 nav-item">
                    <button class="btn-pill btn-shadow btn btn-light btn-block">
                        <i class="nav-link-icon fa fa-calendar-check"> </i>&nbsp;&nbsp;
                        <span>{{date_this_months}}</span>
                    </button>
                    </li>
                </ul>
                <div class="main-card mb-3 card" *ngFor="let hour of heuresByDep" style="cursor: pointer" (click)="modal(extendPanne); period == 'hier' ? loadMachProgByDep(hour.dep): period == 'day' ? loadMachProgByDepRange(hour.dep) : loadMachProgByDepRangeMonth(hour.dep) ;">
                    <div class="card-body"><h5 class="card-title">{{hour.dep}}</h5>
                        <div class="vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                            <div class="vertical-timeline-item vertical-timeline-element">
                                <div><span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-lg badge-success"> </i></span>
                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Machines Programmées</h4>
                                        <p><b class="text-primary">{{hour.mach_prog}}</b> {{hour.mach_prog > 1 ? 'machines programmées' : 'machine programmée'}} sur un total de <b>{{hour.Total_mach}}</b></p></div>
                                </div>
                            </div>
                            <div class="vertical-timeline-item vertical-timeline-element">
                                <div><span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-xl badge-warning"> </i></span>
                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Arrêt{{hour.arrets>1?'s':''}} enregistré{{hour.arrets>1?'s':''}} :&nbsp;<b class="text-danger">{{hour.arrets == 0 ? 'Aucun' : hour.arrets}}</b></h4>
                                        <p>Total Down Time de <span class="text-danger">{{hour.AT}} min</span></p></div>
                                </div>
                            </div>
                            <div class="vertical-timeline-item vertical-timeline-element">
                                <div><span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-xl badge-danger"> </i></span>
                                    <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Heures de Travail</h4>
                                        <p>Temps Programmé: <span class="text-alternate">{{decimal(hour.hour_prog) == false ? hour.hour_prog.toFixed(0) : hour.hour_prog }} h</span></p>
                                        <p>Temps Fonctionnel: <span class="text-success">
                                            {{hour.AT == 0 ? hour.hour_prog : decimal((hour.hour_prog - (hour.AT/60))) == false ? (hour.hour_prog - (hour.AT/60)).toFixed(2) : (hour.hour_prog - (hour.AT/60))}} h

                                        </span></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #extendPanne let-modal >
                        <div class="modal-header">
                            <h6 class="modal-title timeline-title" id="modal-basic-title"><b>Période:</b> {{date_this_months}}</h6>
                            <div class="close vertical-timeline-element-content bounce-in" (click)="modal.close('save click')" >
                                <span class="timeline-title"><b>{{hour.dep}}</b></span>
                                <!--<p>{{pan.code}}</p>-->
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-8 col-xl-8" style="border-right: groove #0b5885 1px">
                                    <div class="tabs-animation">
                                        <div class="row" >
                                            <div class="col-md-12 col-xl-12 ">
                                                <span class="timeline-title"><b>Liste des Machines Programmées</b></span>
                                                <p><b class="text-primary">{{hour.mach_prog}}</b> {{hour.mach_prog > 1 ? 'machines programmées' : 'machine programmée'}} sur un total de <b>{{hour.Total_mach}}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                <div class="bod">
                                    <div class="tbl-header">
                                        <table class="tables" cellpadding="0" cellspacing="0" border="0">
                                            <thead>
                                            <tr>
                                                <th class="th">Machine</th>
                                                <th class="th">H. Prog</th>
                                                <th class="th">Arrêt</th>
                                                <th class="th">Down Time</th>
                                                <th class="th">H. Travailée</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="tbl-content">
                                        <table class="tables" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                            <tr *ngFor="let mp of machProg; let i = index">
                                                <td class="td" >{{mp.nom | titlecase}}</td>
                                                <td class="td" >{{decimal(mp.heure) == false ? mp.heure.toFixed(0) : mp.heure }} <small>h</small></td>
                                                <td [ngClass]="mp.nbre >= 1 ? 'tds': 'td'">{{mp.nbre}}</td>
                                                <td [ngClass]="mp.nbre >= 1 ? 'tds': 'td'">{{mp.AT}} <small>min</small></td>
                                                <td class="td" >{{decimal((mp.heure - (mp.AT/60))) == false ? (mp.heure - (mp.AT/60)).toFixed(2) : (mp.heure - (mp.AT/60))}} <small>h</small></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-4">
                                    <div class="tabs-animation">
                                        <div class="row" >
                                            <div class="col-md-12 col-xl-12 ">
                                                <span class="timeline-title"><b>Liste des Machines non Programmées</b></span>
                                                <p><b class="text-primary">{{(hour.Total_mach) - (hour.mach_prog)}}</b> {{(hour.Total_mach) - (hour.mach_prog) > 1 ? 'machines non programmées' : 'machine non programmée'}} </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="scroll-area-lg">
                                        <div class="scrollbar-container">
                                            <div class="vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                                <div class="vertical-timeline-item vertical-timeline-element" >
                                                    <div *ngFor="let mp of machNonProg"><span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-lg badge-success"> </i></span>
                                                        <div class="vertical-timeline-element-content bounce-in">
                                                            <h4 class="timeline-title">{{mp.mach}}</h4>
                                                            <p>{{mp.code}} <small *ngIf="mp.etat == false" class="text-white badge badge-secondary">{{mp.etat == false ? 'HORS SERVICE' : ''}}</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--<div class="d-block clearfix card-footer ">-->
                            <!--<div class="float-left">-->
                                <!--<b class="pull-left">{{ pan.date  | date: 'dd MMM y'}}</b>-->
                            <!--</div>-->
                            <!--<div class="float-right">-->
                                <!--<div role="group" class="btn-group-sm btn-group">-->
                                    <!--<button class=" btn  btn-primary" [routerLink]="['/pannes/panne/edit', pan.numero]" (click)="selectedPanne = pan; modal.close('save click')"><i class="fa fa-pencil"></i></button>-->
                                    <!--<button class="btn  btn-danger" (click)="selectedPanne = pan ;swl(pan)" ><i class="fa fa-times"></i></button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </ng-template>
                </div>

            </div>
        </div>
    </div>
</div>

<!--<script>-->
    <!--$(window).on("load resize ", function() {-->
        <!--var scrollWidth = $('.tbl-content').width() - $('.tbl-content .table').width();-->
        <!--$('.tbl-header').css({'padding-right':scrollWidth});-->
    <!--}).resize();-->
<!--</script>-->