<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="app-footer__inner">
            <div class="app-footer-right">
                <ul class="header-megamenu nav">
                    <li class="nav-item">
                        <a data-placement="top" rel="popover-focus" data-offset="300"
                           data-toggle="popover-custom" class="nav-link">
                            Copyright © ACON 2020, Conçu par &nbsp;<b> ING. Casimir OUANDJI </b>
                        </a>
                    </li>
                    <!--<li class="nav-item">-->
                        <!--<a data-placement="top" rel="popover-focus" data-offset="300"-->
                           <!--data-toggle="popover-custom" class="nav-link">-->
                            <!--Grid Menu-->
                            <!--<div class="badge badge-dark ml-0 ml-1">-->
                                <!--<small>NEW</small>-->
                            <!--</div>-->
                            <!--<i class="fa fa-angle-up ml-2 opacity-8"></i>-->
                        <!--</a>-->
                        <!--<div class="rm-max-width rm-pointers">-->
                            <!--<div class="d-none popover-custom-content">-->
                                <!--<div class="dropdown-menu-header">-->
                                    <!--<div class="dropdown-menu-header-inner bg-tempting-azure">-->
                                        <!--<div class="menu-header-image opacity-1"-->
                                             <!--style="background-image: url('assets/images/dropdown-header/city5.jpg');"></div>-->
                                        <!--<div class="menu-header-content text-dark"><h5-->
                                                <!--class="menu-header-title">Two Column Grid</h5><h6-->
                                                <!--class="menu-header-subtitle">Easy grid navigation inside-->
                                            <!--popovers</h6></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="grid-menu grid-menu-2col">-->
                                    <!--<div class="no-gutters row">-->
                                        <!--<div class="col-sm-6">-->
                                            <!--<button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">-->
                                                <!--<i class="lnr-lighter text-dark opacity-7 btn-icon-wrapper mb-2"> </i>Automation-->
                                            <!--</button>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-6">-->
                                            <!--<button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger">-->
                                                <!--<i class="lnr-construction text-danger opacity-7 btn-icon-wrapper mb-2"> </i>Reports-->
                                            <!--</button>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-6">-->
                                            <!--<button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success">-->
                                                <!--<i class="lnr-bus text-success opacity-7 btn-icon-wrapper mb-2"> </i>Activity-->
                                            <!--</button>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-6">-->
                                            <!--<button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-focus">-->
                                                <!--<i class="lnr-gift text-focus opacity-7 btn-icon-wrapper mb-2"> </i>Settings-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<ul class="nav flex-column">-->
                                    <!--<li class="nav-item-divider nav-item"></li>-->
                                    <!--<li class="nav-item-btn clearfix nav-item">-->
                                        <!--<div class="float-left">-->
                                            <!--<button class="btn btn-link btn-sm">Link Button</button>-->
                                        <!--</div>-->
                                        <!--<div class="float-right">-->
                                            <!--<button class="btn-shadow btn btn-info btn-sm">Info Button-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</div>