<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                        data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button"
                    class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'resp_maint'">Accueil</li>
                <li *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'resp_maint'">
                    <a routerLinkActive="mm-active" routerLink="/dashboard">
                        <i class="metismenu-icon pe-7s-display1"></i>
                        Tableau de bord
                    </a>
                </li>
                <li *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'resp_maint'" class="app-sidebar__heading">Rapport</li>
                <li *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'resp_maint'">
                    <a routerLinkActive="mm-active" routerLink="/statistiques/alpicam">
                        <i class="metismenu-icon pe-7s-graph3"></i>
                        Alpicam
                    </a>
                </li>
                <li *ngFor=" let dp of departement" (click)="showDepart(dp)" style="cursor:pointer;">
                    <a routerLinkActive="mm-active" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'resp_maint'">
                        <i class="metismenu-icon lnr-apartment"></i>
                        {{dp.nom | titlecase}}
                    </a>
                </li>
                <li *ngIf="authority != 'resp_maint'" class="app-sidebar__heading">Gestion des Machines</li>

                <li *ngIf="authority != 'resp_maint'">
                    <a routerLinkActive="mm-active" routerLink="/tempsMachine">
                        <i class="metismenu-icon pe-7s-clock fa-spin"></i>
                        Horaires Machines
                    </a>
                </li>
                <li *ngIf="authority != 'resp_maint'" routerLinkActive="mm-active">
                    <a routerLinkActive="mm-active" routerLink="/arrets">
                        <i class="pe-7s-timer metismenu-icon">
                        </i>Arrêts Machines
                    </a>
                </li>
                <li *ngIf="authority != 'resp_maint'" routerLinkActive="mm-active">
                    <a routerLinkActive="mm-active" routerLink="/pannes">
                        <i class="pe-7s-tools metismenu-icon">
                        </i>Pannes Machines
                    </a>
                </li>
                <li *ngIf="authority === 'super_admin'" class="app-sidebar__heading">Administration</li>
                <li *ngIf="authority === 'super_admin'">
                    <a routerLinkActive="mm-active" routerLink="/utilisateurs">
                        <i class="metismenu-icon pe-7s-door-lock"></i>
                        Droits d'accès
                    </a>
                </li>
                <li *ngIf="authority === 'super_admin'" routerLinkActive="mm-active">
                    <a href="#">
                        <i class="metismenu-icon pe-7s-settings"></i>
                        Configuration
                        <i class="metismenu-state-icon pe-7s-angle-down"></i>
                    </a>
                    <ul>
                        <li *ngIf="authority === 'super_admin'">
                            <a routerLinkActive="mm-active" routerLink="/departements" >
                                <i class="metismenu-icon">
                                </i>Départements
                            </a>
                        </li>
                        <li *ngIf="authority === 'super_admin'">
                            <a routerLinkActive="mm-active" routerLink="/lignes" >
                                <i class="metismenu-icon">
                                </i>Lignes
                            </a>
                        </li>
                        <li *ngIf="authority === 'super_admin'">
                            <a routerLinkActive="mm-active" routerLink="/machines" >
                                <i class="metismenu-icon">
                                </i>Machines
                            </a>
                        </li>
                        <li *ngIf="authority === 'super_admin'">
                            <a routerLinkActive="mm-active" routerLink="/operateurs" >
                                <i class="metismenu-icon">
                                </i>Opérateurs
                            </a>
                        </li>
                        <li *ngIf="authority === 'super_admin'">
                            <a routerLinkActive="mm-active" routerLink="/techniciens">
                                <i class="metismenu-icon">
                                </i>Techniciens
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


