.wtd{
    color: #f65656;
}
.wtw{
    color: #ffc107;
}
.wts{
    color: #0ba360;
}

.bg-w{
    background: #f4f0ab;
}

.red{
    color: #f65656;
    font-weight: bold;
}

.fred {
    color: #495057;
    background-color: #fff;
    border-color: #f65656;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(246, 86, 86, 0.25)
}

.carre-vert{
    background: rgba(146, 208, 80, 0.7);
    width: 10px;
    height: 10px;
    border: 1px solid grey;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}

.carre-rouge{
    background: #ff4560;
    width: 10px;
    height: 10px;
    border: 1px solid grey;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}

.carre-bleu{
    background: rgba(91, 155, 213, 0.7);
    width: 10px;
    height: 10px;
    border: 1px solid grey;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}

.carre-orange{
    background: rgba(237, 125, 49, 0.7);
    width: 10px;
    height: 10px;
    border: 1px solid grey;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}

.carre-noir{
    background: rgba(77,83,96,0.2);
    width: 10px;
    height: 10px;
    border: 1px solid grey;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}