.modal.show
{
    display: block;
    vertical-align: middle;
    margin-top: 10%;
    box-shadow: #0a66b7;
}

.modal{
    box-shadow: none;
}

.red{
    color: #f65656;
    font-weight: bold;
}

.fred {
    color: #495057;
    background-color: #fff;
    border-color: #f65656;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(246, 86, 86, 0.25)
}


