<app-page-title [heading]="headings" [subheading]="subheadings" [icon]="icons"></app-page-title>

<div class="row">
    <div class="col-lg-5">
        <div class="main-card mb-3 card">
            <div class="card-header bg-info">
                <table class="table mb-0 mt-0">
                    <tr>
                        <td style="color: #fff;" class="">
                            {{operation == 'add' ? 'Nouveau Technicien' :
                            operation == 'edit' ? 'Modifier Technicien' :
                            operation == 'remove' ? 'Supprimer Technicien' : ''}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <div *ngIf="operation == 'add' || operation == 'edit'">
                    <form id="signupForm" class="col-md-10 mx-auto" [formGroup]="techForm">
                        <div class="form-group">
                            <div class="">
                                <div class="position-relative">
                                    <label for="lig" class="">Nom </label>
                                    <input type="text" class="form-control" id="lig" placeholder="Nom" formControlName="nom" [(ngModel)]="selectedTech.nom"/>
                                </div>
                            </div>
                        </div>
                        <div style="color: #f65656" *ngIf="techForm.controls['nom'].invalid && (techForm.controls['nom'].touched) ">
                            <span>*</span> minimum 4 caractères
                        </div>
                        <div class="form-group">
                            <div class="">
                                <div class="position-relative">
                                    <label for="pre" class="">Prénom </label>
                                    <input type="text" class="form-control" id="pre" placeholder="Prénom" formControlName="prenom" [(ngModel)]="selectedTech.prenom"/>
                                </div>
                            </div>
                        </div>
                        <div style="color: #f65656" *ngIf="techForm.controls['prenom'].invalid && (techForm.controls['prenom'].touched) ">
                            <span>*</span> minimum 4 caractères
                        </div>
                        <div class="form-group">
                            <div class="">
                                <div class="position-relative">
                                    <label for="fct" class="">Fonction </label>
                                    <input type="text" class="form-control" id="fct" placeholder="Soudeur" formControlName="fonction" [(ngModel)]="selectedTech.fonction"/>
                                </div>
                            </div>
                        </div>
                        <div style="color: #f65656" *ngIf="techForm.controls['fonction'].invalid && (techForm.controls['fonction'].touched) ">
                            <span>*</span> minimum 4 caractères
                        </div>
                        <div class="form-group">
                            <div class="">
                                <div class="position-relative">
                                    <label for="mat" class="">Matricule </label>
                                    <input type="text" class="form-control input-mask-trigger" id="mat" placeholder="Matricule" formControlName="matricule" [(ngModel)]="selectedTech.matricule" />
                                </div>
                            </div>
                        </div>
                        <div style="color: #f65656" *ngIf="techForm.controls['matricule'].invalid && (techForm.controls['matricule'].touched) ">
                            <span>*</span> minimum 4 caractères
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" [disabled]="techForm.invalid || techForm.pristine"
                                    (click)="operation == 'add' ? addTechnicien() : updateTechnicien() " >
                                {{operation == 'add' ? 'Enregistrer' :
                                operation == 'edit' ? 'Modifier ' : ''}}
                            </button>
                        </div>
                    </form>
                </div>
                <!--<div *ngIf="operation == 'remove'">-->
                    <!--<ul class="tabs-animated-shadow tabs-animated nav nav-justified tabs-shadow-bordered p-3">-->
                        <!--<li class="nav-item">-->
                            <!--<a role="tab" class="nav-link active" data-toggle="tab" href="#tab-messages-header">-->
                                <!--<span>Nouveau Technicien</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<div class="tab-content">-->
                        <!--<div class="tab-pane active" id="tab-errors-header" role="tabpanel">-->
                            <!--<div class="scroll-area-sm">-->
                                <!--<div class="scrollbar-container">-->
                                    <!--<div class="no-results pt-3 pb-0">-->
                                        <!--<div class="swal2-icon swal2-question swal2-animate-error-icon">-->
                                            <!--<div class="swal2-success-circular-line-left"-->
                                                 <!--style="background-color: rgb(255, 255, 255);"></div>-->
                                            <!--<span class="swal2-success-line-tip"></span>-->
                                            <!--<span class="swal2-success-line-long"></span>-->
                                            <!--<div class="swal2-success-ring"></div>-->
                                            <!--<div class="swal2-success-fix"-->
                                                 <!--style="background-color: rgb(255, 255, 255);"></div>-->
                                            <!--<b style="font-size: 1.5em; font-weight: bold">?</b>-->
                                            <!--<div class="swal2-success-circular-line-right"-->
                                                 <!--style="background-color: rgb(255, 255, 255);"></div>-->
                                        <!--</div>-->
                                        <!--<div class="results-subtitle">{{selectedTech.nom}}</div>-->
                                        <!--<div class="results-title">Confirmez-vous la suppression de cette ligne ?</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<ul class="nav flex-column">-->
                        <!--<li class="nav-item-divider nav-item"></li>-->
                        <!--<li class="nav-item-btn text-center nav-item">-->
                            <!--<button class="btn-shadow btn-wide btn-pill btn btn-danger btn-sm" [disabled]="!selectedTech.idTechnicien" (click)="deleteTechnicien(); operation = 'ok'">Supprimer-->
                            <!--</button>-->
                            <!--&nbsp;&nbsp;-->
                            <!--<button class="btn-shadow btn-wide btn-pill btn btn-focus btn-sm">Annuler-->
                            <!--</button>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div *ngIf="operation == 'ok'">-->
                    <!--<div class="no-results pt-3 pb-0">-->
                        <!--<div class="swal2-icon swal2-success swal2-animate-success-icon">-->
                            <!--<div class="swal2-success-circular-line-left"-->
                                 <!--style="background-color: rgb(255, 255, 255);"></div>-->
                            <!--<span class="swal2-success-line-tip"></span>-->
                            <!--<span class="swal2-success-line-long"></span>-->
                            <!--<div class="swal2-success-ring"></div>-->
                            <!--<div class="swal2-success-fix"-->
                                 <!--style="background-color: rgb(255, 255, 255);"></div>-->
                            <!--<div class="swal2-success-circular-line-right"-->
                                 <!--style="background-color: rgb(255, 255, 255);"></div>-->
                        <!--</div>-->
                        <!--<div class="results-subtitle">Suppression Réussie!</div>-->
                        <!--<div class="results-title">Technicien supprimé avec succès!</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="main-card mb-3 card">
            <div class="card-header">
                <table class="table mb-0 ">
                    <tr>
                        <td>Liste des Techniciens</td>
                        <td><button class="btn btn-secondary float-right" (click)="operation = 'add'; initTech();">Ajouter</button></td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <table class="mb-0 table table-hover">
                    <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Fonction</th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="widget-content" *ngFor="let tech of techniciens | paginate:{itemsPerPage: 10, currentPage:p}">
                        <th scope="row" >{{ tech.matricule}}</th>
                        <td>{{tech.nom}}</td>
                        <td>{{tech.prenom}}</td>
                        <td>{{tech.fonction}}</td>
                        <td>{{tech.etat}}</td>
                        <td>
                            <div class="">
                                <a [routerLink]="['/techniciens', tech.idTechnicien]">
                                    <button class="border-0 btn btn-outline-success">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </a>
                                <button class="border-0 btn btn-outline-primary" (click)="operation = 'edit'; selectedTech = tech;">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <!--<button class="border-0 btn btn-outline-danger" (click)="operation = 'remove'; selectedTech = tech; showModal=true" data-toggle="modal" data-target="exampleModal">-->
                                    <!--<i class="fa fa-pencil"></i>-->
                                <!--</button>-->
                                <!--<input type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger" data-size="mini" >-->
                                <button class="border-0 btn btn-outline-danger" (click)="selectedTech = tech; swl(tech)" >
                                    <i class="fa fa-times"></i>
                                </button>
                                <!--<swal-->
                                        <!--#deleteSwal-->
                                        <!--title="Supprimer {{ tech.nom}}?"-->
                                        <!--text="This cannot be undone"-->
                                        <!--icon="question"-->
                                        <!--[showCancelButton]="true"-->
                                        <!--[focusCancel]="true"-->

                                        <!--(confirm)="deleteTechnicien()"-->

                                        <!--[swalOptions]="{ confirmButtonText: 'Supprimer', cancelButtonText: 'Annuler' }"-->
                                <!--&gt;-->
                                    <!--<swal-->
                                            <!--title="Supprimé?"-->
                                            <!--text="bien joué"-->
                                            <!--icon="success"-->
                                            <!--[timer]=4000-->
                                    <!--&gt;-->

                                    <!--</swal>-->
                                <!--</swal>-->

                                <div class="modal" role="dialog" id="mymodal" [ngClass]="{'show': showModal}">
                                    <div class="modal-dialog" >
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div *ngIf="operation == 'remove'">
                                                    <div class="tab-content" style="height: auto;">
                                                        <div class="tab-pane active" id="tab-errors-header" role="tabpanel">
                                                            <div class="scroll-area-sm">
                                                                <div class="scrollbar-container">
                                                                    <div class="no-results pt-3 pb-0">
                                                                        <div class="swal2-icon swal2-question swal2-animate-error-icon">
                                                                            <div class="swal2-success-circular-line-left"
                                                                                 style="background-color: rgb(255, 255, 255);"></div>
                                                                            <span class="swal2-success-line-tip"></span>
                                                                            <span class="swal2-success-line-long"></span>
                                                                            <div class="swal2-success-ring"></div>
                                                                            <div class="swal2-success-fix"
                                                                                 style="background-color: rgb(255, 255, 255);"></div>
                                                                            <b style="font-size: 1.5em; font-weight: bold">?</b>
                                                                            <div class="swal2-success-circular-line-right"
                                                                                 style="background-color: rgb(255, 255, 255);"></div>
                                                                        </div>
                                                                        <div class="results-subtitle">{{selectedTech.nom}}</div>
                                                                        <div class="results-title">Confirmez-vous la suppression de ce Technicien ?</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item-divider nav-item"></li>
                                                        <li class="nav-item-btn text-center nav-item">
                                                            <button class="btn-shadow btn-wide btn-pill btn btn-danger btn-sm" [disabled]="!selectedTech.matricule" (click)="deleteTechnicien(); operation = 'ok'">Supprimer
                                                            </button>
                                                            &nbsp;&nbsp;
                                                            <button class="btn-shadow btn-wide btn-pill btn btn-focus btn-sm" data-dismiss="modal" (click)="showModal=false; operation = 'add'">Annuler
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div *ngIf="operation == 'ok'">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item-btn text-right nav-item">
                                                            <button class="close" data-dismiss="modal" (click)="showModal=false; operation = 'add'">&times;
                                                            </button>
                                                        </li>
                                                    </ul>
                                                    <div class="no-results pt-3 pb-0">
                                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                                            <div class="swal2-success-circular-line-left"
                                                                 style="background-color: rgb(255, 255, 255);"></div>
                                                            <span class="swal2-success-line-tip"></span>
                                                            <span class="swal2-success-line-long"></span>
                                                            <div class="swal2-success-ring"></div>
                                                            <div class="swal2-success-fix"
                                                                 style="background-color: rgb(255, 255, 255);"></div>
                                                            <div class="swal2-success-circular-line-right"
                                                                 style="background-color: rgb(255, 255, 255);"></div>
                                                        </div>
                                                        <div class="results-subtitle">Suppression Réussie!</div>
                                                        <div class="results-title">Technicien supprimé avec succès!</div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="exampleModal" (click)="showModal=true">&times;</button>-->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="float-right">
                    <ul class="pagination pagination-sm mb-0">
                        <li>
                            <pagination-controls (pageChange)="p=$event"
                                                 autoHide = "true"
                                                 responsive = "true"
                                                 previousLabel = "Précédent"
                                                 nextLabel = "Suivant">
                            </pagination-controls>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-header">
                <table class="table mb-0 ">
                    <tr>
                        <td>Liste des Techniciens Actifs</td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <table class="mb-0 table table-hover">
                    <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Fonction</th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="widget-content" *ngFor="let atech of ActiveTec | paginate:{itemsPerPage: 10, currentPage:p}">
                        <th scope="row" >{{ atech.matricule}}</th>
                        <td>{{atech.nom}}</td>
                        <td>{{atech.prenom}}</td>
                        <td>{{atech.fonction}}</td>
                        <td>
                            <div [ngClass]="
            atech.etat == true ? 'badge badge-success' : 'badge badge-focus'">{{atech.etat}}</div>
                        </td>
                        <td>
                            <div class="">
                                <a [routerLink]="['/techniciens', atech.idTechnicien]">
                                    <button class="border-0 btn btn-outline-success">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </a>
                                <button class="border-0 btn btn-outline-primary" (click)="operation = 'edit'; selectedTech = atech;">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="border-0 btn btn-outline-danger" (click)="selectedTech = atech; swl(atech)" >
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="float-right">
                    <ul class="pagination pagination-sm mb-0">
                        <li>
                            <pagination-controls (pageChange)="p=$event"
                                                 autoHide = "true"
                                                 responsive = "true"
                                                 previousLabel = "Précédent"
                                                 nextLabel = "Suivant">
                            </pagination-controls>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-header">
                <table class="table mb-0 ">
                    <tr>
                        <td>Liste des Techniciens Désactivés</td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <table class="mb-0 table table-hover">
                    <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Fonction</th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="widget-content" *ngFor="let dtech of DesactiveTec | paginate:{itemsPerPage: 10, currentPage:p}">
                        <th scope="row" >{{ dtech.matricule}}</th>
                        <td>{{dtech.nom}}</td>
                        <td>{{dtech.prenom}}</td>
                        <td>{{dtech.fonction}}</td>
                        <td>
                            <div [ngClass]="
            dtech.etat == true ? 'badge badge-success' : 'badge badge-focus'">{{dtech.etat}}</div>
                        </td>
                        <td>
                            <div class="">
                                <a [routerLink]="['/techniciens', dtech.idTechnicien]">
                                    <button class="border-0 btn btn-outline-success">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </a>
                                <button class="border-0 btn btn-outline-primary" (click)="operation = 'edit'; selectedTech = dtech;">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <!--<button class="border-0 btn btn-outline-danger" (click)="operation = 'remove'; selectedTech = tech; showModal=true" data-toggle="modal" data-target="exampleModal">-->
                                <!--<i class="fa fa-pencil"></i>-->
                                <!--</button>-->
                                <!--<input type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger" data-size="mini" >-->
                                <button class="border-0 btn btn-outline-danger" (click)="selectedTech = dtech; swl(dtech)" >
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="float-right">
                    <ul class="pagination pagination-sm mb-0">
                        <li>
                            <pagination-controls (pageChange)="p=$event"
                                                 autoHide = "true"
                                                 responsive = "true"
                                                 previousLabel = "Précédent"
                                                 nextLabel = "Suivant">
                            </pagination-controls>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



