<app-page-title [heading]="headings" [subheading]="subheadings" [icon]="icons" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'user_alpi'"></app-page-title>

<div class="row">
    <div class="col-lg-12" *ngIf="authority != 'resp_maint' && authority != 'admin'  && authority != 'user_mind'   && authority != 'resp_mind' ">
        <div class="main-card mb-3 card">
            <div class="card-header">
                {{operation == 'add' ? 'Nouvel Arrêt' :
                operation == 'edit' ? 'Modifier l\'Arrêt' :
                operation == 'remove' ? 'Supprimer l\'arrêt' : ''}}
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <button class="btn btn-focus" (click)="operation = 'add'; initArret();" >Ajouter</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div *ngIf="operation == 'add' || operation == 'edit'">
                    <form id="signupForm" class="col-md-10 mx-auto" [formGroup]="arretForm">
                        <div class="row">
                            <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="date" [ngClass]="{'red': arretForm.controls['date'].invalid && (arretForm.controls['date'].touched)}">Date</label>
                                <input type="date" id="date" class="form-control form-control-sm" formControlName="date" [ngClass]="{'fred': arretForm.controls['date'].invalid && (arretForm.controls['date'].touched)}" [(ngModel)]="selectedArret.date" />
                            </div>
                            <div style="color: #f65656; font-style: italic;" *ngIf="arretForm.controls['date'].invalid && (arretForm.controls['date'].touched) ">
                                <span>*</span> Date invalide
                            </div>
                    </div>
                            <div class="col-md-6">
                        <div class="form-group">
                            <div class="">
                                <div class="position-relative">
                                    <label for="machine" [ngClass]="{'red': arretForm.controls['machine'].invalid && (arretForm.controls['machine'].touched)}">Machine</label>
                                    <select id="machine" class="form-control form-control-sm" formControlName="machine"  [ngClass]="{'fred': arretForm.controls['machine'].invalid && (arretForm.controls['machine'].touched)}" [(ngModel)]="selectedArret.id_machine" >
                                        <option *ngFor="let mach of machines"  [value]="mach.idMachine">
                                            {{mach.code | uppercase}}&nbsp;{{mach.nom | uppercase}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div style="color: #f65656; font-style: italic;" *ngIf="arretForm.controls['machine'].invalid && (arretForm.controls['machine'].touched) ">
                            <span>*</span> Veuillez sélectionner la machine en arrêt!
                        </div>
                </div>
                        </div>

                        <div class="row">
                        <div class="col-md-6">
                        <div class="form-group">
                                <div class="">
                                    <div class="position-relative form-group">
                                        <label for="ha" [ngClass]="{'red': ((arretForm.controls['debut'].invalid && (arretForm.controls['debut'].touched)) || (selectedArret.date | date: 'dd/MM/y') > (ha | date: 'dd/MM/y'))}">Heure d'arrêt</label>
                                        <input type="datetime-local" class="form-control form-control-sm"  id="ha" formControlName="debut" [(ngModel)]="ha"  min="{{selectedArret.date}}" [ngClass]="{'fred': arretForm.controls['debut'].invalid && (arretForm.controls['debut'].touched) || (selectedArret.date | date: 'dd/MM/y') > (ha | date: 'dd/MM/y')}" />
                                    </div>
                                    <div style="color: #f65656; font-style: italic; font-size: 0.9em" *ngIf="(arretForm.controls['debut'].invalid && (arretForm.controls['debut'].touched)) || (selectedArret.date | date: 'dd/MM/y') > (ha | date: 'dd/MM/y')">
                                        <span>*</span> {{selectedArret.date ? 'Veuillez sélectionner une valeur ≥ '+selectedArret.date: 'Date et heure invalide'}}.
                                    </div>
                                </div>
                        </div>
                        </div>

                        <div class="col-md-6">
                        <div class="form-group">
                            <div class="">
                                <div class="position-relative">
                                    <label for="fin" [ngClass]="{'red': ((arretForm.controls['fin'].invalid && (arretForm.controls['fin'].touched)) || (ha > di))}">Fin de l'arrêt</label>
                                    <input type="datetime-local" class="form-control form-control-sm"  id="fin" formControlName="fin" [(ngModel)]="di"  min="{{ha}}" [ngClass]="{'fred': ((arretForm.controls['fin'].invalid && (arretForm.controls['fin'].touched)) || (ha > di))}">
                                </div>
                                <div *ngIf="(di < ha) || (arretForm.controls['fin'].invalid && (arretForm.controls['fin'].touched))" style="font-style: italic; font-size: 0.9em; color: #f65656;">
                                    <span>*</span> {{ha ? 'Veuillez sélectionner une valeur ≥ '+ha: 'Date et heure invalide'}}.
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>

                        <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="cause" [ngClass]="{'red': arretForm.controls['cause'].invalid && (arretForm.controls['cause'].touched)}">Motif de l'arrêt</label>
                                <div class="form-row">

                                <div class=" col-md-4">
                                    <div class="custom-radio custom-control position-relative form-group">
                                        <input type="radio" id="exampleCustomRadio7" name="pic1" class="custom-control-input" formControlName="pic1" value="Délestage" [(ngModel)]="piece"  >
                                        <label class="custom-control-label" for="exampleCustomRadio7">Délestage</label>
                                    </div>
                                </div>
                                <div class=" col-md-4">
                                    <div class="custom-radio custom-control position-relative form-group">
                                        <input type="radio" id="exampleCustomRadio8" name="pic1" class="custom-control-input" formControlName="pic1" value="Bourrage" [(ngModel)]="piece"  >
                                        <label class="custom-control-label" for="exampleCustomRadio8">Bourrage</label>
                                    </div>
                                </div>
                                <div class="e col-md-4">
                                    <div class="custom-radio custom-control position-relative form-group">
                                        <input type="radio" id="exampleCustomRadio9" name="pic1" class="custom-control-input" formControlName="pic1" value="Manque de Bobine" [(ngModel)]="piece" >
                                        <label class="custom-control-label" for="exampleCustomRadio9">Manque de Bobine </label>

                                    </div>
                                </div>

                                <div class=" col-md-4">
                                    <div class="custom-radio custom-control position-relative form-group">
                                        <input type="radio" id="exampleCustomRadiofi" name="pic1" class="custom-control-input" formControlName="pic1" value="Manque de Personnel" [(ngModel)]="piece"  >
                                        <label class="custom-control-label" for="exampleCustomRadiofi">Manque de Personnel</label>
                                    </div>
                                </div>
                                <div class=" col-md-4">
                                    <div class="custom-radio custom-control position-relative form-group">
                                        <input type="radio" id="exampleCustomRadioMachine" name="pic1" class="custom-control-input" formControlName="pic1" value="Manque de Matériel" [(ngModel)]="piece"  >
                                        <label class="custom-control-label" for="exampleCustomRadioMachine">Manque de Matériel</label>
                                    </div>
                                </div>
                                <div class="e col-md-4">
                                    <div class="custom-radio custom-control position-relative form-group">
                                        <input type="radio" id="exampleCustomRadioOp" name="pic1" class="custom-control-input" formControlName="pic1" value="divers" [(ngModel)]="piece" >
                                        <label class="custom-control-label" for="exampleCustomRadioOp">Divers </label>

                                    </div>
                                </div>

                            </div>
                                <div *ngIf="piece == 'divers'">
                                    <textarea rows="1" class="form-control autosize-input" style="max-height: 200px; height: 40px;" id="cause" placeholder="cause..." formControlName="cause" [ngClass]="{'fred': arretForm.controls['cause'].invalid && (arretForm.controls['cause'].touched)}" [(ngModel)]="selectedArret.cause"></textarea>
                                </div>
                                <div style="color: #f65656; font-style: italic;" *ngIf="piece == 'divers' && (arretForm.controls['cause'].touched) ">
                                    <span>*</span> Minimum 5 caractères sont requis
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" (click)="operation == 'add' ? addArret() : updateArret()  "
                                    [disabled]="((selectedArret.date | date: 'dd/MM/y') > (ha | date: 'dd/MM/y')) || (di < ha)"
                            >
                                {{operation == 'add' ? 'Enregistrer' :
                                operation == 'edit' ? 'Modifier ' : ''}}
                            </button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin' || authority === 'user_alpi'">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Liste des Arrêts
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <!--<button routerLink="/new-panne" class="btn btn-primary" [swal]="deleteSwals">Nouvelle Panne</button>-->
                        <form [formGroup]="searchPanForm">
                            <input type="text" placeholder="Rechercher..." class="form-control form-control-sm" [(ngModel)]="term" formControlName="search">
                        </form>
                    </div>
                </div>
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <!--<button routerLink="/new-panne" class="btn btn-primary" [swal]="deleteSwals">Nouvelle Panne</button>-->
                        <form [formGroup]="selectPanForm">
                            <select (change)="findSso($event.target.value)" name="" id="" formControlName="periode" class="form-control form-control-sm">

                                <option value="" selected disabled hidden>Sélectionner la période</option>
                                <option value="tmp" >Ce mois</option>
                                <option value="lmp" >Mois Dernier</option>
                                <option value="pp"  >Personaliser la recherche</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div *ngIf="ranger == 'true'" class="btn-actions-pane-right">
                    <div  role="group" class="btn-group-sm btn-group">
                        <div >
                            <form [formGroup]="rangeForm">
                                <div class="form-row">

                                    <div class="col-md-5">
                                        <input type="date" [ngClass]="{'fred': rangeForm.controls['date1'].invalid && (rangeForm.controls['date1'].touched)}" [(ngModel)]="d" class="form-control form-control-sm" formControlName="date1">
                                    </div>
                                    <div class="col-md-5">
                                        <input type="date" [ngClass]="{'fred': rangeForm.controls['date2'].invalid && (rangeForm.controls['date2'].touched) || (f < d)}" [(ngModel)]="f" min="{{d}}" class="form-control form-control-sm" formControlName="date2">
                                    </div>
                                    <div class="col-md-2">
                                        <button [disabled]="(f < d) || rangeForm.pristine && rangeForm.invalid" class="btn-transition btn btn-sm btn-shadow btn-outline-primary form-control-sm form-control" (click)="dashRange(); typeArretRange(); paretoArretRange(); RangeArrets()" type="submit"><i class="fa fa-search"></i></button>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-sm table-borderless table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Machine</th>
                        <th>Motif</th>
                        <th>Debut</th>
                        <th>Fin</th>
                        <th class="text-center">DT (min)</th>
                        <th *ngIf="authority === 'super_admin'">Actions</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="arrets.length && loader == false">
                    <tr class="widget-content" *ngFor="let arret of arrets | filter : term | paginate:{itemsPerPage: pages, currentPage:p}">
                        <td>{{ arret.date  | date: 'dd/MM/y'}}</td>
                        <td><div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <!--<img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">-->
                                        <button class="btn-icon btn-icon-only btn btn-link btn-sm">
                                            <!--<i class="pe-7s-settings btn-icon-wrapper font-size-xlg"> </i>-->
                                            <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                        </button>
                                    </div>
                                </div>
                                <div class="widget-content-left flex2">
                                    <div class="widget-heading">{{arret.machine | uppercase}}</div>
                                    <div class="widget-subheading opacity-7">{{arret.code | uppercase}}</div>
                                </div>
                            </div>
                        </div></td>
                        <td>{{arret.cause}}</td>
                        <td>{{arret.debut_arret | date: 'HH:mm'}}</td>
                        <td>{{arret.fin_arret | date: 'HH:mm'}}</td>
                        <td class="text-center" [ngClass]="{'text-danger': arret.DT >= 60}">{{arret.DT}}</td>
                        <td class="text-center" *ngIf="authority === 'super_admin'">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class=" btn  btn-primary" (click)="operation = 'edit'; selectedArret = arret; test(arret)"><i class="fa fa-pencil"></i></button>
                                <button class="btn  btn-danger" (click)="selectedArret = arret ;swl(arret)" ><i class="fa fa-times"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p *ngIf="!arrets.length && loader == false" style="color: grey; font-size: 1.5rem;" class="text-center" >Aucun Arrêt trouvé !</p>
                <div *ngIf="!arrets.length && loader == true" class="text-center">
                    <div class="font-icon-wrapper mr-3 mb-3" style="border: none;display: inline-block">
                        <div class="loader-wrapper d-flex justify-content-center align-items-center" style="vertical-align: middle;">
                            <div class="loader">
                                <div class="ball-scale-multiple">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <p style="vertical-align: middle">Chargement...</p>
                    </div>
                </div>
            </div>
            <div class="d-block clearfix card-footer">
                <div class="float-left">
                    <form [formGroup]="pageForm">
                        <span style="display: inline-block">Afficher</span>&nbsp;
                        <span style="display: inline-block">
                            <select (change)="paginate($event.target.value)" formControlName="page" class="form-control form-control-sm">
                                <option value="" selected disabled hidden>07</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="1000">1000</option>
                            </select>
                        </span>&nbsp;
                        <span style="display: inline-block">données</span>
                    </form>
                </div>
                <div class="float-right">
                    <ul class="pagination pagination-sm mb-0">
                        <li>
                            <pagination-controls (pageChange)="p=$event"
                                                 autoHide = "true"
                                                 responsive = "true"
                                                 previousLabel = "Précédent"
                                                 nextLabel = "Suivant">
                            </pagination-controls>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin'">
    <div class="col-md-12 col-lg-6 col-xl-7">
        <div class="main-card mb-3 card">
            <div class="rm-border card-header">
                <div>
                    <h5 class="menu-header-title text-capitalize text-secondary">Suivi Journalier</h5>
                </div>
                <div class="btn-actions-pane-right">
                    {{date_this_month}}
                </div>

            </div>
            <!--<div *ngIf="ranger == 'true'" class="btn-actions-pane-right mr-2">-->
                <!--<div  role="group" class="btn-group-sm btn-group">-->
                    <!--<div >-->
                        <!--<form [formGroup]="rangeForm">-->
                            <!--<div class="form-row">-->

                                <!--<div class="col-md-5">-->
                                    <!--<input type="date" placeholder="BCP002" class="form-control form-control-sm" formControlName="date1">-->
                                <!--</div>-->
                                <!--<div class="col-md-5">-->
                                    <!--<input type="date" placeholder="Electricien" class="form-control form-control-sm" formControlName="date2">-->
                                <!--</div>-->
                                <!--<div class="col-md-2">-->
                                    <!--<button class="btn-transition btn btn-sm btn-shadow btn-outline-primary form-control-sm form-control" (click)="dashRange(); typeArretRange(); paretoArretRange(); RangeArrets()" type="submit"><i class="fa fa-search"></i></button>-->

                                <!--</div>-->

                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="card-body p-2" id="pdf1">
                <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                    <div style="height: auto" >
                        <div class="flex-item">
                            <div style="display: block; height: auto;">
                                <app-chart *ngIf="datas.labels.length && loaderdash == false"
                                        [type]="'line'"
                                        [data]="datas.datasets"
                                        [lineChartLabels]="datas.labels"
                                ></app-chart>
                                <p *ngIf="!datas.labels.length && loaderdash == false" style="color: grey; font-size: 1.5rem;" class="text-center" >Aucune donnée trouvée !</p>
                                <div *ngIf="!datas.labels.length && loaderdash == true" class="text-center">
                                    <div class="font-icon-wrapper mr-3 mb-3" style="border: none;display: inline-block">
                                        <div class="loader-wrapper d-flex justify-content-center align-items-center" style="vertical-align: middle;">
                                            <div class="loader">
                                                <div class="ball-scale-multiple">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <p style="vertical-align: middle">Chargement...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-5">
        <div class="main-card mb-3 card" >
            <div class="card-body">
                <h6 class="text-muted text-uppercase font-size-md opacity-7 mb-3 font-weight-normal">Récapitulatif Arrêts</h6>


                <ul class="list-group list-group-flush">
                    <li class="p-0 list-group-item">
                        <div class="row">
                            <div class="center-elem col-md-6">
                                <div class="center-elem w-100">
                                    <apx-chart
                                            [series]="chartOptions.series"
                                            [chart]="chartOptions.chart"
                                            [plotOptions]="chartOptions.plotOptions"
                                            [labels]="chartOptions.labels"
                                            [stroke]="chartOptions.stroke"
                                            [fill]="chartOptions.fill">
                                    </apx-chart>
                                </div>
                            </div>
                            <div class="col-md-6" *ngFor="let x of recapArret">
                                <div class="widget-chart">
                                    <div class="widget-chart-content">
                                        <div class="widget-subheading">Arrêts Mois Dernier</div>
                                        <div class="widget-numbers-sm mt-0 text-alternate"><span>{{x.lm}}</span></div>
                                        <div class="widget-description text-focus">
                                            {{x.taux < 0  ? 'En baisse de' : x.taux > 0  ? 'En Hausse de': 'Constant'}}
                                            <span class="pl-1"
                                                  [ngClass]="
            x.taux < 0 ? 'text-success' :
            x.taux > 0 ? 'text-danger' : 'text-warning'"
                                            >
                                            <i [ngClass]="
            x.taux < 0 ? 'fa fa-arrow-down' :
            x.taux > 0 ? 'fa fa-arrow-up' : 'fa fa-arrow-right'"></i>
                                            <span class="pl-1" >
                                                {{ x.taux == 0 ? x.taux+' %':
                                                    (x.taux == 100) ? x.taux+' %':
                                                    (x.taux == -100) ? (x.taux) * (-1)+' %':
                                                    (x.taux < 0 ) ? (x.taux.toFixed(2)) * (-1)+' %':
                                                    x.taux.toFixed(2)+' %'}}
                                            </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider mt-0 mb-0 mr-2"></div>
                                <div class="widget-chart">
                                    <div class="widget-chart-content">
                                        <div class="widget-numbers-sm mt-0 text-primary" *ngFor="let nber of thisYearArret" >
                                            <!--<span>{{nber.nbre}}</span>-->
                                            <span *ngIf="thisYearArret.length && mini_loader == false">{{nber.nbre}}</span>
                                            <span *ngIf="!thisYearArret.length && mini_loader == false">RAS</span>
                                            <span *ngIf="!thisYearArret.length && mini_loader == true">
                                                <div class="ball-pulse">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="widget-subheading">Arrêts annuel</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin'">
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Répartition par type d'arrêt
            </div>
            <div class="card-body">
                <app-doughnut-chart *ngIf="typeArret.nbre.length && loadertype1 == false"
                                    [doughnutChartData] = "typeArret.nbre"
                                    [doughnutChartLabels] = "typeArret.labels"
                                    [lineChartColors]="lineChartColors"
                                    [doughnutChartType]="'pie'"
                ></app-doughnut-chart>
                <p *ngIf="!typeArret.nbre.length && loadertype1 == false" style="color: grey; font-size: 1.3rem;" class="text-center" >Aucune donnée trouvée !</p>
                <div *ngIf="!typeArret.nbre.length && loadertype1 == true" class="text-center">
                    <div class="font-icon-wrapper mr-3 mb-3" style="border: none;display: inline-block">
                        <div class="loader-wrapper d-flex justify-content-center align-items-center" style="vertical-align: middle;">
                            <div class="loader">
                                <div class="ball-scale-multiple">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <p style="vertical-align: middle">Chargement...</p>
                    </div>
                </div>
                <!--<p style="font-size: 1.3em" class="text-center" *ngIf="typeArret.nbre.length == 0">Aucun Arrêt Enregistré cette période!!</p>-->
            </div>
            <div class="card-footer">
                <p>periode: <span  style="text-transform: capitalize; color: #6c757d;" class="opacity-6">{{date_this_months}}</span> </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Perte de production par type d'arrêt (minutes)
            </div>
            <div class="card-body">
                <app-doughnut-chart *ngIf="typeArret.nbre.length && loadertype1 == false"
                                    [doughnutChartData] = "typeArret.tdt"
                                    [doughnutChartLabels] = "typeArret.labels"
                                    [lineChartColors]="lineChartColors"
                                    [doughnutChartType]="'doughnut'"
                ></app-doughnut-chart>
                <p *ngIf="!typeArret.nbre.length && loadertype1 == false" style="color: grey; font-size: 1.3rem;" class="text-center" >Aucune donnée trouvée !</p>
                <div *ngIf="!typeArret.nbre.length && loadertype1 == true" class="text-center">
                    <div class="font-icon-wrapper mr-3 mb-3" style="border: none;display: inline-block">
                        <div class="loader-wrapper d-flex justify-content-center align-items-center" style="vertical-align: middle;">
                            <div class="loader">
                                <div class="ball-scale-multiple">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <p style="vertical-align: middle">Chargement...</p>
                    </div>
                </div>
                <!--<p style="font-size: 1.3em" class="text-center" *ngIf="typeArret.nbre.length == 0">Aucun Arrêt Enregistré cette période!!</p>-->
            </div>
            <div class="card-footer">
                <p>periode: <span  style="text-transform: capitalize; color: #6c757d;" class="opacity-6">{{date_this_months}}</span> </p>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="authority === 'admin' || authority === 'resp_pla' || authority === 'resp_cp' || authority === 'resp_sci' || authority === 'resp_bra' || authority === 'super_admin'">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Pareto des arrêts
            </div>
            <div class="card-body">
                <app-chart *ngIf="pareto.labels.length && loaderpareto == false"
                        [type]="'line'"
                        [data]="pareto.datasets"
                        [lineChartLabels]="pareto.labels"
                        [lineChartColors]="colorsPARETO"
                ></app-chart>
                <p *ngIf="!pareto.labels.length && loaderpareto == false" style="color: grey; font-size: 1.3rem;" class="text-center" >Aucune donnée trouvée !</p>
                <div *ngIf="!pareto.labels.length && loaderpareto == true" class="text-center">
                    <div class="font-icon-wrapper mr-3 mb-3" style="border: none;display: inline-block">
                        <div class="loader-wrapper d-flex justify-content-center align-items-center" style="vertical-align: middle;">
                            <div class="loader">
                                <div class="ball-scale-multiple">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <p style="vertical-align: middle">Chargement...</p>
                    </div>
                </div>
                <!--<div class="text-center">-->
                    <!--<p style="font-size: 1.8em" *ngIf="typeArret.nbre.length == 0">Aucun Arrêt Enregistré cette période!!</p>-->
                <!--</div>-->
            </div>
            <div class="card-footer">
                <p>periode: <span  style="text-transform: capitalize; color: #6c757d;" class="opacity-6">{{date_this_months}}</span> </p>
            </div>
        </div>
    </div>
</div>



