<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">
    <div class="col-lg-5">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Nouveau Département</h5>
                <form id="signupForm" class="col-md-10 mx-auto" method="post" action="#">
                    <div class="form-group">
                        <div class="">
                            <div class="position-relative">
                                <label for="dep" class="">Nom Département</label>
                                <input type="text" class="form-control" id="dep" placeholder="SCIERIE"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <div class="position-relative">
                                <label for="cc" class="">Centre de coût</label>
                                <select id="cc" class="multiselect-dropdown form-control">
                                    <option value="AK">B435</option>
                                    <option value="AK">B335</option>
                                    <option value="AK">B100</option>
                                    <option value="AK">B330</option>
                                    <option value="AK">B300</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <div class="position-relative">
                                <label for="ID" class="">Identification</label>
                                <select id="ID" class="multiselect-dropdown form-control">
                                    <option value="AK">BCB</option>
                                    <option value="AK">BCC</option>
                                    <option value="AK">BCP</option>
                                    <option value="AK">BCS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <div class="position-relative">
                                <label for="REP" class="">Responsable</label>
                                <input type="text" class="form-control" id="REP" placeholder="Casimir"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" name="signup" value="Sign up">
                            Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title">Liste des Départements</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                    <tr>
                        <th>Section</th>
                        <th>Centre de Coût</th>
                        <th>Responsable</th>
                        <th>Couleur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="widget-content" *ngFor="let departement of departements">
                        <th scope="row">{{departement.section}}</th>
                        <td>{{departement.centreDeCout}}</td>
                        <td>{{departement.responsable}}</td>
                        <td>
                            <div class="text-center">
                                <div class="animated lightSpeedIn">
                                    <div [ngClass]="{
                                         'bg-warning': departement.section === 'Contreplaqué',
                                         'bg-danger': departement.section === 'Scierie',
                                         'bg-success': departement.section === 'Placage'
                                     }" [class]="'swatch-holder swatch-holder-lg'" style="background: yellow"></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="widget-content-right widget-content-actions">
                                <button class="border-0 btn-transition btn btn-outline-primary">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="border-0 btn-transition btn btn-outline-danger">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>