<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" *ngIf="authority === 'super_admin'"></app-page-title>

<div class="row" *ngIf="authority === 'super_admin'">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                {{operation == 'add' ? 'Nouveau Département' :
                  operation == 'edit' ? 'Modifier Département' :
                  operation == 'remove' ? 'Supprimer Département' : ''}}
            </div>
            <div class="card-body">
                <div *ngIf="operation == 'add' || operation == 'edit'">
                    <form id="signupForm" class="col-md-10 mx-auto" [formGroup]="depForm">
                        <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="">
                                <div class="position-relative">
                                    <label for="dep" class="" [ngClass]="{'red': depForm.controls['nom'].invalid && (depForm.controls['nom'].touched)}">Nom Département</label>
                                    <input type="text" class="form-control" id="dep" placeholder="SCIERIE" formControlName="nom" [(ngModel)]="selectedDep.nom" [ngClass]="{'fred': depForm.controls['nom'].invalid && (depForm.controls['nom'].touched)}"/>
                                </div>
                            </div>
                            <div style="font-style: italic;color: #f65656" *ngIf="depForm.controls['nom'].invalid && (depForm.controls['nom'].touched) ">
                                <span>*</span> minimum 4 caractères
                            </div>
                        </div>
                        <!--<div class="form-group col-md-6">-->
                            <!--<div class="">-->
                                <!--<div class="position-relative">-->
                                    <!--<label for="cc" class="" [ngClass]="{'red': depForm.controls['centre_cout'].invalid && (depForm.controls['centre_cout'].touched)}">Centre de coût</label>-->
                                    <!--<input type="text" id="cc" class="form-control-sm form-control"-->
                                           <!--formControlName="centre_cout" [(ngModel)]="selectedDep.centre_cout" [ngClass]="{'fred': depForm.controls['centre_cout'].invalid && (depForm.controls['centre_cout'].touched)}">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div style="font-style: italic;color: #f65656" *ngIf="depForm.controls['centre_cout'].invalid && (depForm.controls['centre_cout'].touched) ">-->
                                <!--<span>*</span> minimum 4 caractères-->
                            <!--</div>-->
                        <!--</div>-->
                        </div>

                        <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="">
                                <div class="position-relative">
                                    <label for="REP" class="" [ngClass]="{'red': depForm.controls['responsable'].invalid && (depForm.controls['responsable'].touched)}">Responsable</label>
                                    <input type="text" class="form-control" id="REP" placeholder="Casimir" formControlName="responsable" [(ngModel)]="selectedDep.responsable" [ngClass]="{'fred': depForm.controls['responsable'].invalid && (depForm.controls['responsable'].touched)}"/>
                                </div>
                            </div>
                            <div style="font-style: italic;color: #f65656" *ngIf="depForm.controls['responsable'].invalid && (depForm.controls['responsable'].touched) ">
                                <span>*</span> minimum 4 caractères
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="">
                                <div class="position-relative">
                                    <label for="loc" class="" [ngClass]="{'red': depForm.controls['localisation'].invalid && (depForm.controls['localisation'].touched)}">Localisation</label>
                                    <input type="text" class="form-control" id="loc" placeholder="Bonaberi" formControlName="localisation" [(ngModel)]="selectedDep.localisation" [ngClass]="{'fred': depForm.controls['localisation'].invalid && (depForm.controls['localisation'].touched)}"/>
                                </div>
                            </div>
                            <div style="font-style: italic;color: #f65656" *ngIf="depForm.controls['localisation'].invalid && (depForm.controls['localisation'].touched) ">
                                <span>*</span> minimum 4 caractères
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" [disabled]="depForm.invalid || depForm.pristine"
                                    (click)="operation == 'add' ? addDepartement() : updateDepartement() " >
                                {{operation == 'add' ? 'Enregistrer' :
                                operation == 'edit' ? 'Modifier ' : ''}}
                            </button>
                        </div>
                    </form>
                </div>
                <div *ngIf="operation == 'remove'">
                    <!--<p class="card-title">-->
                        <!--Centre de Coût : {{selectedDep.centre_cout}}-->
                    <!--</p>-->
                    <p class="card-title">
                        Nom: {{selectedDep.nom}}
                    </p>
                    <p>
                        ID: {{selectedDep.idDepartement}}
                    </p>
                    <p>
                        Voulez-vous supprimer ce département?
                    </p>
                    <button class="btn btn-success" [disabled]="!selectedDep.idDepartement" (click)="deleteDepartement()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Liste des Départements
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <button class="btn btn-focus" (click)="operation = 'add'; initDep();" >Ajouter</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" >
                    <table class="align-middle mb-0 table table-sm table-borderless table-hover">
                    <thead>
                    <tr>
                        <th>Section/Département</th>
                        <!--<th>Centre de Coût</th>-->
                        <th>Responsable</th>
                        <th>Localisation</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="widget-content" *ngFor="let departement of departements;">
                        <th scope="row">{{departement.nom}}</th>
                        <!--<td>{{departement.centre_cout}}</td>-->
                        <td>{{departement.responsable}}</td>
                        <td>{{departement.localisation}}</td>
                        <td>
                            <div role="group" class="btn-group-sm btn-group">
                                <button class=" btn  btn-primary" (click)="operation = 'edit'; selectedDep = departement;"><i class="fa fa-pencil"></i></button>
                                <button class="btn  btn-danger" (click)="swl(departement); selectedDep = departement;"><i class="fa fa-times"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
