<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">
    <div class="col-lg-5">
        <div class="main-card mb-3 card">
            <div class="card-header bg-info">
                <table class="table mb-0 mt-0">
                    <tr>
                        <td style="color: #fff;" class="">
                            {{operation == 'add' ? 'Nouveau Département' :
                              operation == 'edit' ? 'Modifier Département' :
                              operation == 'remove' ? 'Supprimer Département' : ''}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <div *ngIf="operation == 'add' || operation == 'edit'">
                    <form id="signupForm" class="col-md-10 mx-auto" [formGroup]="depForm">
                        <div class="form-group">
                            <div class="">
                                <div class="position-relative">
                                    <label for="dep" class="">Nom Département</label>
                                    <input type="text" class="form-control" id="dep" placeholder="SCIERIE" formControlName="nom" [(ngModel)]="selectedDep.nom"/>
                                </div>
                            </div>
                        </div>
                        <!--<div style="color: #f65656"-->
                             <!--*ngIf="depForm.controls['nom'].invalid && (depForm.controls['nom'].touched) ">-->
                            <!--<span>*</span> minimum 5 caractères-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="">
                                <div class="position-relative">
                                    <label for="cc" class="">Centre de coût</label>
                                    <!--<select id="cc" class="multiselect-dropdown form-control"-->
                                    <select id="cc" class="form-control-sm form-control"
                                            formControlName="centre_cout" [(ngModel)]="selectedDep.centre_cout">
                                        <!--<option value="" disabled>Choix du centre de coût</option>-->
                                        <option *ngFor="let ccs of centres" [value]="ccs">{{ccs}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<div class="">-->
                                <!--<div class="position-relative">-->
                                    <!--<label for="cc" class="">Centre de cout</label>-->
                                    <!--<input type="text" class="form-control" id="cc" placeholder="B520" formControlName="centre_cout" [(ngModel)]="selectedDep.centre_cout"/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="">
                                <div class="position-relative">
                                    <label for="REP" class="">Responsable</label>
                                    <input type="text" class="form-control" id="REP" placeholder="Casimir" formControlName="responsable" [(ngModel)]="selectedDep.responsable"/>
                                </div>
                            </div>
                        </div>
                        <!--<div style="color: #f65656" *ngIf="depForm.controls['responsable'].invalid">-->
                        <!--<span>*</span> minimum 4 caractères-->
                        <!--</div>-->

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"
                                    (click)="operation == 'add' ? addDepartement() : updateDepartement() " >
                                {{operation == 'add' ? 'Enregistrer' :
                                operation == 'edit' ? 'Modifier ' : ''}}
                            </button>
                        </div>
                    </form>
                </div>
                <div *ngIf="operation == 'remove'">
                    <p class="card-title">
                        Centre de Coût : {{selectedDep.centre_cout}}
                    </p>
                    <p>
                        Nom: {{selectedDep.nom}}
                    </p>
                    <p>
                        ID: {{selectedDep.idDepartement}}
                    </p>
                    <p>
                        Voulez-vous supprimer ce département?
                    </p>
                    <button class="btn btn-success" [disabled]="!selectedDep.idDepartement" (click)="deleteDepartement()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Liste des Départements
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <button class="btn btn-focus" (click)="operation = 'add'; initDep();" >Ajouter</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="mb-0 table table-hover">
                    <thead>
                    <tr>
                        <th>Section</th>
                        <th>Centre de Coût</th>
                        <th>Responsable</th>
                        <!--<th>Couleur</th>-->
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="widget-content" *ngFor="let departement of departements;">
                        <th scope="row">{{departement.nom}}</th>
                        <td>{{departement.centre_cout}}</td>
                        <td>{{departement.responsable}}</td>
                        <!--<td>-->
                            <!--<div class="text-center">-->
                                <!--<div class="animated lightSpeedIn">-->
                                    <!--<div [ngClass]="{-->
                                         <!--'bg-warning': departement.nom === 'Contreplaqué',-->
                                         <!--'bg-danger': departement.nom === 'Scierie',-->
                                         <!--'bg-success': departement.nom === 'Placage',-->
                                         <!--'bg-secondary': departement.nom === 'Mindourou'-->
                                     <!--}" [class]="'swatch-holder swatch-holder-lg'" style="background: yellow"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</td>-->
                        <td>
                            <div class="widget-content-right widget-content-actions">
                                <a [routerLink]="['/departements', departement.idDepartement]">
                                    <button class="border-0 btn-transition btn btn-outline-success">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </a>
                                <button class="border-0 btn-transition btn btn-outline-primary" (click)="operation = 'edit'; selectedDep = departement;">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="border-0 btn-transition btn btn-outline-danger" data-toggle="modal" data-target=".bd-example-modal-sm" (click)="operation = 'remove'; selectedDep = departement;">
                                    <i class="fa fa-times"></i>
                                </button>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    <!--<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
        <!--<div class="modal-dialog modal-sm">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<h5 class="modal-title" id="exampleModalLongTitle">{{selectedDep.nom}}</h5>-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true">&times;</span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<p>Voulez-vous vraiment supprimer ce Département?</p>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>-->
                    <!--<button type="button" class="btn btn-danger">Supprimer</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->